
{% extends "main.tpl" %}

{% block content %}
<div id="media">
<div class="tlo2">
<div class="page_box">
	</div>
	{% if slider %}
	
	{% endif %}
    	
	{% include 'search_main.tpl' %}
	<div class="container">
	<div class="container citiesBig" title="Wszystkie miasta">	
		<style>
			ul#poz li {
			  display:inline;
			}
			</style>
		<div class="M-1">

			<div class="D">
				<div>
		   <div class="city"><a href="https://targowisko.org/s-dolnoslaski" title="Dolnośląski" >Dolnośląski</a></div></br>
		  	   
			   <ul id="poz" >		   
					<li><a href ="https://targowisko.org/s-dolnoslaski/boguszow-gorce" >Boguszów-Gorce</a></li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/boleslawiec" >Bolesławiec</a></li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/dzierzoniow" >Dzierżoniów</li>						   	
					<li><a href ="https://targowisko.org/s-dolnoslaski/glogow" >Głogów</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/jawor" >Jawor</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/jelcz-laskowiec" >Jelcz-Laskowiec</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/jelenia-gora" >Jelenia Góra</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/kamienna-gora" >Kamienna Góra</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/klodzko" >Kłodzko</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/legnica" >Legnica</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/luban" >Lubań</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/lubin" >Lubin</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/nowa-ruda" >Nowa Ruda</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/olawa" >Oława</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/olesnica" >Oleśnica</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/polkowice" >Polkowice</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/strzegom" >Strzegom</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/swidnica" >Świdnica</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/swiebodziec" >Świebodziec</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/walbrzych" >Wałbrzych</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/wroclaw" >Wrocław</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/zabkowice-slaskie" >Ząbkowice Śląskie</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/zgorzelec" >Zgorzelec</li>
					<li><a href ="https://targowisko.org/s-dolnoslaski/zlotoryja" >Złotoryja</a></li>
				</ul>	
				</div>
				<div class="container">
					<div class="row section-box">
					  <div class="col-sm-6 description-image p-0">
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Miasta1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5539989849704750"
     data-ad-slot="7753548507"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
					  </div>
					  <div class="col-sm-6 text-center description-text p-0">
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Miasta2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5539989849704750"
     data-ad-slot="8680645032"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
					  </div>
					</div></br>					   
			</div></br>
		<div class="E">
		   <div class="city"><a href="https://targowisko.org/s-Kujawsko-pomorskie" title="Kujawsko-pomorskie">Kujawsko-pomorskie</a></div>
		   </br>
		   <ul id="poz" >
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/brodnica">Brodnica</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/bydgoszcz" >Bydgoszcz</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/chelmno" >Chełmno</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/grudziac" >Grudziąc</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/inowroclaw" >Inowrocław</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/naklo-nad-notecia" >Nakło nad Notecią</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/rypin" >Rypin</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/solec-kujawski" >Solec kujawski</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/swiecie" >Świecie</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/torun" >Toruń</li>
					<li> <a href ="https://targowisko.org/s-kujawsko-pomorskie/wloclawek" >Włocławek</a></li>
			</ul>
			<div class="container">
				<div class="row section-box">
				  <div class="col-sm-6 text-center description-text p-0">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Miasta3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5539989849704750"
     data-ad-slot="3439749036"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
				  </div>
				  <div class="col-sm-6 description-image p-0">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Miasta4 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5539989849704750"
     data-ad-slot="1935095675"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
				  </div>
				</div></br>	
		</div></br>
		
		<div class="D">
		   <div class="city" ><a href="https://targowisko.org/s-Lubelskie" title="Lubelskie">Lubelskie</a></div></br>
		   <ul id="poz">
				<li><a href = "https://targowisko.org/s-lubelskie/biala-podlaska">Biała Podlaska</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/bilgoraj" >Biłgoraj</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/chelm" >Chełm</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/demblin" >Dęmblin</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/hrubieszow" >Hrubieszów</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/krasnik" >Kraśnik</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/krasnystaw" >Krasnystaw</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/leczna" >Łęczna</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/lubartow" >Lubartów</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/lublin" >Lublin</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/lukow" >Łuków</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/miedzyrzec-podlaski" >Międzyrzec Podlaski</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/pliawy" >Puławy</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/radzyn-podlaski" >Radzyń Podlaski</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/swidnik" >Świdnik</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/tomaszow-lubelski" >Tomaszów Lubelski</li>
				<li> <a href = "https://targowisko.org/s-lubelskie/zamosc" >Zamość</a></li>
			</ul>
			<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
					<hr>
						<a href="https://targowisko.org/dodaj_reklame">	
							<h2>Dodaj reklamę.</h2>
						</a>
							<div class="ads">
								<a href="https://targowisko.org/dodaj_reklame">
									<img alt="" src="upload/photos/2019/09//reklama_1.png">		
								</a>
											<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>
										</div>
							<hr>
					</div></br>	
		</div></br>
		
		<div class="E">
		   <div class="city"><a href="https://targowisko.org/s-Lubuskie" title="Lubuskie">Lubuskie</a></div></br>
		   	<ul id="poz" >
				<li> <a href ="https://targowisko.org/s-lubuskie/gorzow-wielkopolski">Gorzów Wielkopolski</li>
				<li> <a href ="https://targowisko.org/s-lubuskie/gubin" >Gubin</li>
				<li> <a href ="https://targowisko.org/s-lubuskie/kostrzyn-nad-odra" >Kostrzyn nad Odrą</li>
				<li> <a href ="https://targowisko.org/s-lubuskie/miedzyrzecz" >Międzyrzecz</li>
				<li> <a href ="https://targowisko.org/s-lubuskie/nowa-sol" >Nowa Sól</li>
			    <li> <a href ="https://targowisko.org/s-lubuskie/slubice" >Słubice</li>
	            <li> <a href ="https://targowisko.org/s-lubuskie/sliechow" >Sliechów</li>
			    <li> <a href ="https://targowisko.org/s-lubuskie/swiebodzin" >Świebodzin</li>
			    <li> <a href ="https://targowisko.org/s-lubuskie/zagan" >Żagań</li>
				<li> <a href ="https://targowisko.org/s-lubuskie/zary" >Żary</li>
				<li> <a href ="https://targowisko.org/s-lubuskie/zielona-gora" >Zielona Góra</a></li>
			</ul>
			<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
					<hr>
						<a href="https://targowisko.org/dodaj_reklame">	
							<h2>Dodaj reklamę.</h2>
						</a>
							<div class="ads">
								<a href="https://targowisko.org/dodaj_reklame">
									<img alt="" src="upload/photos/2019/09//reklama_1.png">		
								</a>
											<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>
										</div>
							<hr>
					</div></br>	
		</div>
		<div class="clear: both"></div>
		</div></br>
		<div class="M-2">
        <div class="F">
			<div class="city"><a href="https://targowisko.org/s-mazowieckie" title="Mazowieckie">Mazowieckie</a></div></br>
			<ul id="poz"  >
				<li> <a href="https://targowisko.org/s-mazowieckie/ciechanow" >Ciechanów</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/garwolin" >Garwolin</li>
	 			<li> <a href="https://targowisko.org/s-mazowieckie/gostynin" >Gostynin</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/goworowo" >Goworowo</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/grodzisk-mazowiecki" >Grodzisk Mazowiecki</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/grojec" >Grójec</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/jozefow" >Józefów</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/kobylka" >Kobyłka</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/konstancin-jeziorna" >Konstancin-Jeziorna</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/kozienice" >Kozienice</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/legionowo" >Legionowo</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/lomianki" >Łomianki</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/marki" >Marki</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/milanowek" >Milanówek</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/minsk-mazowiecki" >Mińsk Mazowiecki</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/mlawa" >Mława</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/nowy-dwor-mazowiecki" >Nowy Dwór Mazowiecki</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/ostroleka" title="Zobacz Ostrołęka"><spam style="color: orangered">Ostrołęka</spam></li>
				<li> <a href="https://targowisko.org/s-mazowieckie/ostrow-mazowiecka" >Ostrów Mazowiecka</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/otwock" >Otwock</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/piaseczno" >Piaseczno</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/piastow" >Piastów</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/pionki" >Pionki</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/plock" >Płock</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/plonsk" >Płońsk</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/pruszkow" >Pruszków</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/przasnysz" >Przasnysz</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/plitusk" >Pułtusk</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/radom" >Radom</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/siedlce" >Siedlce</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/sierpc" >Sierpc</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/sochaczew" >Sochaczew</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/sokolow-podlaski" >Sokołów Podlaski</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/sliejowek" >Sliejówek</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/warszawa" >Warszawa</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/wolomin" >Wołomin</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/wyszkow" >Wyszków</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/zabki" >Ząbki</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/zielonka" >Zielonka</li>
				<li> <a href="https://targowisko.org/s-mazowieckie/zyrardow" >Żyrardów</li>		   
				<li> <a href="https://targowisko.org/s-mazowieckie/wojciechowice" title="Zobacz Wociechowice"><spam style="color: orangered">Wojciechowice</spam></a></li>		   
			 </ul>
			 <div class="container">
				<div class="row section-box">
				  <div class="col-sm-6 text-center description-text p-0">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Miasta5 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5539989849704750"
     data-ad-slot="6804278970"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
				  </div>
				  <div class="col-sm-6 description-image p-0">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Miasta6 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5539989849704750"
     data-ad-slot="8816376409"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
				  </div>
				</div></br>
            <div class="D">
				<div class="city"><a href="https://targowisko.org/s-lodzkie" title="Łódzkie">Łódzkie</a></div></br>
				<ul id="poz" >
							 <li> <a href="https://targowisko.org/s-lodzkie/aleksandrow-lodzki" >Aleksandrów Łódzki</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/belchatow" >Bełchatów</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/glowno" >Głowno</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/konstantynow-lodzki" >Konstantynów Łódzki</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/kutno" >Kutno</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/lask" >Łask</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/leczyca" >Łęczyca</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/lodz" >Łódz</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/lowicz" >Łowicz</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/opoczno" >Opoczno</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/ozorkow" >Ozorków</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/pabianice" >Pabianice</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/piotrkow-trybunalski" >Piotrków Trybunalski</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/radomsko" >Radomsko</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/rawa-mazowiecka" >Rawa Mazowiecka</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/sieradz" >Sieradz</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/skierniewice" >Skierniewice</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/tomaszow-mazowiecki" >Tomaszów Mazowiecki</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/wielun" >Wieluń</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/zdunska-wola" >Zduńska Wola</li>
							 <li> <a href="https://targowisko.org/s-lodzkie/zgierz" >Zgierz</a></li>
				</ul>
				<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
						<hr>
							<a href="https://targowisko.org/dodaj_reklame">	
								<h2>Dodaj reklamę.</h2>
							</a>
								<div class="ads">
									<a href="https://targowisko.org/dodaj_reklame">
										<img alt="" src="upload/photos/2019/09//reklama_1.png">		
									</a>
												<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
											</div>
								<hr>
						</div></br>	
			</div></br>
            <div class="G">
				<div class="city"><a href="https://targowisko.org/s-malopolskie" title="Małopolskie">Małopolskie</a></div></br>
			<ul id="poz" >
						<li><a href =" https://targowisko.org/s-malopolskie/andrychow" >Andrychów</li>
						<li><a href =" https://targowisko.org/s-malopolskie/bochnia" >Bochnia</li>
						<li><a href =" https://targowisko.org/s-malopolskie/brzesko" >Brzesko</li>
						<li><a href =" https://targowisko.org/s-malopolskie/chrzanow" >Chrzanów</li>
						<li><a href =" https://targowisko.org/s-malopolskie/gorlice" >Gorlice</li>
						<li><a href =" https://targowisko.org/s-malopolskie/kety" >Kęty</li>
						<li><a href =" https://targowisko.org/s-malopolskie/krakow" >Kraków</li>
						<li><a href =" https://targowisko.org/s-malopolskie/libiaz" >Libiąż</li>
						<li><a href =" https://targowisko.org/s-malopolskie/limanowa" >Limanowa</li>
						<li><a href =" https://targowisko.org/s-malopolskie/myslenice" >Myślenice</li>
						<li><a href =" https://targowisko.org/s-malopolskie/nowy-sacz" >Nowy Sącz</li>
						<li><a href =" https://targowisko.org/s-malopolskie/nowy-targ" >Nowy Targ</li>
						<li><a href =" https://targowisko.org/s-malopolskie/olkusz" >Olkusz</li>
						<li><a href =" https://targowisko.org/s-malopolskie/oswiecim" >Oświęcim</li>
						<li><a href =" https://targowisko.org/s-malopolskie/skawina" >Skawina</li>
						<li><a href =" https://targowisko.org/s-malopolskie/tarnow" >Tarnów</li>
						<li><a href =" https://targowisko.org/s-malopolskie/trzebina" >Trzebina</li>
						<li><a href =" https://targowisko.org/s-malopolskie/wadowice" >Wadowice</li>
						<li><a href =" https://targowisko.org/s-malopolskie/wieliczka" >Wieliczka</li>
						<li><a href =" https://targowisko.org/s-malopolskie/zakopane" >Zakopane</a></li>		
			</ul>	
			<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
					<hr>
						<a href="https://targowisko.org/dodaj_reklame">	
							<h2>Dodaj reklamę.</h2>
						</a>
							<div class="ads">
								<a href="https://targowisko.org/dodaj_reklame">
									<img alt="" src="upload/photos/2019/09//reklama_1.png">		
								</a>
											<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>
										</div>
							<hr>
					</div></br>		
		</div></br>
		
			<div class="D">
			<div class="city"><a href="https://targowisko.org/s-opolskie" title="Opolskie">Opolskie</a></div></br>
			<ul id="poz" >
						<li><a href ="https://targowisko.org/s-opolskie/brzeg">Brzeg</li>
						<li><a href ="https://targowisko.org/s-opolskie/kedzierzyn-kozle" >Kędzierzyn-Koźle</li>
						<li><a href ="https://targowisko.org/s-opolskie/kluczbork" >Kluczbork</li>
						<li><a href ="https://targowisko.org/s-opolskie/krapkowice" >Krapkowice</li>
						<li><a href ="https://targowisko.org/s-opolskie/namyslow" >Namysłów</li>
						<li><a href ="https://targowisko.org/s-opolskie/nysa" >Nysa</li>
						<li><a href ="https://targowisko.org/s-opolskie/opole" >Opole</li>
						<li><a href ="https://targowisko.org/s-opolskie/prudnik" >Prudnik</li>
						<li><a href ="https://targowisko.org/s-opolskie/strzelce-opolskie" >Strzelce Opolskie</a></li>		
			</ul>
			<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
					<hr>
						<a href="https://targowisko.org/dodaj_reklame">	
							<h2>Dodaj reklamę.</h2>
						</a>
							<div class="ads">
								<a href="https://targowisko.org/dodaj_reklame">
									<img alt="" src="upload/photos/2019/09//reklama_1.png">		
								</a>
											<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>
										</div>
							<hr>
					</div></br>	
			<div class="clear:both"></div>
		</div></br>
			</div>


		<div class="M-3">
				<div class="D">
						<div class="city"><a href="https://targowisko.org/s-podkarpackie" title="Podkarpackie">Podkarpackie</a></div></br>
						<ul id="poz"  >
						<li><a href ="https://targowisko.org/s-podkarpackie/debica" >Dębica</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/jaroslaw" >Jarosław</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/jaslo" >Jasło</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/krosno" >Krosno</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/lancut" >Łańcut</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/mielec" >Mielec</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/nisko" >Nisko</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/przemysl" >Przemyśl</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/przeworsk" >Przeworsk</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/ropczyce" >Ropczyce</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/rzeszow" >Rzeszów</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/sanok" >Sanok</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/stalowa-wola" >Stalowa Wola</li>
						<li><a href ="https://targowisko.org/s-podkarpackie/tarnobrzeg" >Tarnobrzeg</a></li>	
						</ul>
						<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
								<hr>
									<a href="https://targowisko.org/dodaj_reklame">	
										<h2>Dodaj reklamę.</h2>
									</a>
										<div class="ads">
											<a href="https://targowisko.org/dodaj_reklame">
												<img alt="" src="upload/photos/2019/09//reklama_1.png">		
											</a>
														<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
												<i class="fab fa-facebook-f"></i>
											</a>
													</div>
										<hr>
								</div></br>	
				</div></br>
				<div class="F">
						<div class="city" ><a href="https://targowisko.org/s-podlaskie" title="Podlaskie">Podlaskie</a></div></br>
						<ul id="poz" >
							<li><a href="https://targowisko.org/s-podlaskie/augustow" >Augustów</li> 
							<li><a href="https://targowisko.org/s-podlaskie/bialystok" title="Zobacz Białystok"><span style="color: orangered">Białystok</span></li> 
							<li><a href="https://targowisko.org/s-podlaskie/bielsk-podlaski" >Bielsk Podlaski</li> 
							<li><a href="https://targowisko.org/s-podlaskie/choroszcz" >Choroszcz</li> 
							<li><a href="https://targowisko.org/s-podlaskie/czarna-bialostocka" >Czarna Białostocka</li> 
							<li><a href="https://targowisko.org/s-podlaskie/grajewo" >Grajewo</li> 
							<li><a href="https://targowisko.org/s-podlaskie/hajnowka" >Hajnówka</li> 
							<li><a href="https://targowisko.org/s-podlaskie/jednaczewo" >Jednaczewo</li> 
							<li><a href="https://targowisko.org/s-podlaskie/jedwabne" >Jedwabne</li> 
							<li><a href="https://targowisko.org/s-podlaskie/jeziorko" >Jeziorko</li> 
							<li><a href="https://targowisko.org/s-podlaskie/kolno" >Kolno</li> 
							<li><a href="https://targowisko.org/s-podlaskie/lapy" >Łapy</li> 
							<li><a href="https://targowisko.org/s-podlaskie/lomza" title="Zobacz Łomża"><spam style="color: orangered">Łomża</spam></li> 
							<li><a href="https://targowisko.org/s-podlaskie/monki" >Mońki</li> 
							<li><a href="https://targowisko.org/s-podlaskie/nowe-kupiski" >Nowe Kupiski</li> 
							<li><a href="https://targowisko.org/s-podlaskie/nowogrod" >Nowogród</li> 
							<li><a href="https://targowisko.org/s-podlaskie/piatnica" >Piątnica</li> 
							<li><a href="https://targowisko.org/s-podlaskie/podgorze" >Podgórze</li> 
							<li><a href="https://targowisko.org/s-podlaskie/siemiatycze" >Siemiatycze</li> 
							<li><a href="https://targowisko.org/s-podlaskie/sokolka" >Sokółka</li> 
							<li><a href="https://targowisko.org/s-podlaskie/stare-kupiski" >Stare Kupiski</li> 
							<li><a href="https://targowisko.org/s-podlaskie/stawiski" >Stawiski</li> 
							<li><a href="https://targowisko.org/s-podlaskie/suwalki" >Suwałki</li> 
							<li><a href="https://targowisko.org/s-podlaskie/wasilkow" >Wasilków</li> 
							<li><a href="https://targowisko.org/s-podlaskie/zambrow" title="Zobacz Zambrów"><span style="color: orangered">Zambrów</span></a></li> 						
						</ul>
						<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
								<hr>
									<a href="https://targowisko.org/dodaj_reklame">	
										<h2>Dodaj reklamę.</h2>
									</a>
										<div class="ads">
											<a href="https://targowisko.org/dodaj_reklame">
												<img alt="" src="upload/photos/2019/09//reklama_1.png">		
											</a>
														<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
												<i class="fab fa-facebook-f"></i>
											</a>
													</div>
										<hr>
								</div></br>	
				</div></br>
				<div class="D">
						<div class="city" ><a href="https://targowisko.org/s-pomorskie" title="Pomorskie">Pomorskie</a></div></br>
						<ul id="poz" >
							<li> <a href="https://targowisko.org/s-pomorskie/bydgoszcz" >Bydgoszcz</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/bytow" >Bytów</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/chojnice" >Chojnice</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/gdansk" >Gdańsk</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/gdynia" >Gdynia</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/kartuzy" >Kartuzy</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/koscierzyna" >Kościerzyna</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/kwidzyn" >Kwidzyn</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/lembork" >Lembork</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/malbork" >Malbork</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/pruszcz-gdanski" >Pruszcz Gdański</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/reda" >Reda</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/rumia" >Rumia</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/slupsk" >Słupsk</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/sopot" >Sopot</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/starogard-gdanski" >Starogard Gdański</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/trzew" >Trzew</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/ustka" >Ustka</li> 
							<li> <a href="https://targowisko.org/s-pomorskie/wejherowo" >Wejherowo</a></li> 

						</ul>
						<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
								<hr>
									<a href="https://targowisko.org/dodaj_reklame">	
										<h2>Dodaj reklamę.</h2>
									</a>
										<div class="ads">
											<a href="https://targowisko.org/dodaj_reklame">
												<img alt="" src="upload/photos/2019/09//reklama_1.png">		
											</a>
														<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
												<i class="fab fa-facebook-f"></i>
											</a>
													</div>
										<hr>
								</div></br>	
				</div></br>
				<div class="G">
					<div class="city"><a href="https://targowisko.org/s-slaskie" title="Śląskie">Śląskie</a></div></br>
					<ul id="poz" >
					<li><a href="https://targowisko.org/s-slaskie/bedzin" >Będzin</li> 
					<li><a href="https://targowisko.org/s-slaskie/bielsko-biala" >Bielsko-Biała</li> 
					<li><a href="https://targowisko.org/s-slaskie/bierun" >Bieruń</li> 
					<li><a href="https://targowisko.org/s-slaskie/bytom" >Bytom</li> 
					<li><a href="https://targowisko.org/s-slaskie/chorzow" >Chorzów</li> 
					<li><a href="https://targowisko.org/s-slaskie/cieszyn" >Cieszyn</li> 
					<li><a href="https://targowisko.org/s-slaskie/czechowice-dziedzice" >Czechowice-Dziedzice</li> 
					<li><a href="https://targowisko.org/s-slaskie/czeladz" >Czeladz</li> 
					<li><a href="https://targowisko.org/s-slaskie/czerwionka-leszczyny" >Czerwionka-Leszczyny</li> 
					<li><a href="https://targowisko.org/s-slaskie/czestochowa" >Częstochowa</li> 
					<li><a href="https://targowisko.org/s-slaskie/dabrowa-gornicza" >Dąbrowa Górnicza</li> 
					<li><a href="https://targowisko.org/s-slaskie/gliwice" >Gliwice</li> 
					<li><a href="https://targowisko.org/s-slaskie/jastrzebie-zdroj" >Jastrzębie-Zdrój</li> 
					<li><a href="https://targowisko.org/s-slaskie/jaworzno" >Jaworzno</li> 
					<li><a href="https://targowisko.org/s-slaskie/katowice" >Katowice</li> 
					<li><a href="https://targowisko.org/s-slaskie/knurow" >Knurów</li> 
					<li><a href="https://targowisko.org/s-slaskie/laziska-gorne" >Łaziska Górne</li> 
					<li><a href="https://targowisko.org/s-slaskie/ledziny" >Lędziny</li> 
					<li><a href="https://targowisko.org/s-slaskie/lubliniec" >Lubliniec</li> 
					<li><a href="https://targowisko.org/s-slaskie/mikolow" >Mikołów</li> 
					<li><a href="https://targowisko.org/s-slaskie/myslowice" >Mysłowice</li> 
					<li><a href="https://targowisko.org/s-slaskie/myszkow" >Myszków</li> 
					<li><a href="https://targowisko.org/s-slaskie/orzesze" >Orzesze</li> 
					<li><a href="https://targowisko.org/s-slaskie/piekary-slaskie" >Piekary Śląskie</li> 
					<li><a href="https://targowisko.org/s-slaskie/pszczyna" >Pszczyna</li> 
					<li><a href="https://targowisko.org/s-slaskie/pyskowice" >Pyskowice</li> 
					<li><a href="https://targowisko.org/s-slaskie/raciborz" >Racibórz</li> 
					<li><a href="https://targowisko.org/s-slaskie/radlin" >Radlin</li> 
					<li><a href="https://targowisko.org/s-slaskie/radzionkow" >Radzionków</li> 
					<li><a href="https://targowisko.org/s-slaskie/ruda-slaska" >Ruda Śląska</li> 
					<li><a href="https://targowisko.org/s-slaskie/rybnik" >Rybnik</li> 
					<li><a href="https://targowisko.org/s-slaskie/rydultowy" >Rydułtowy</li> 
					<li><a href="https://targowisko.org/s-slaskie/siemianowice-slaskie" >Siemianowice Śląskie</li> 
					<li><a href="https://targowisko.org/s-slaskie/sosnowiec" >Sosnowiec</li> 
					<li><a href="https://targowisko.org/s-slaskie/swietochlowice" >Świętochłowice</li> 
					<li><a href="https://targowisko.org/s-slaskie/tarnowskie-gory" >Tarnowskie Góry</li> 
					<li><a href="https://targowisko.org/s-slaskie/tychy" >Tychy</li> 
					<li><a href="https://targowisko.org/s-slaskie/ustron" >Ustroń</li> 
					<li><a href="https://targowisko.org/s-slaskie/wodzislaw-slaski" >Wodzisław Śląski</li> 
					<li><a href="https://targowisko.org/s-slaskie/zabrze" >Zabrze</li> 
					<li><a href="https://targowisko.org/s-slaskie/zawiercie" >Zawiercie</li> 
					<li><a href="https://targowisko.org/s-slaskie/zory" >Żory</li> 
					<li><a href="https://targowisko.org/s-slaskie/zywiec" >Żywiec</a></li> 	
					</ul>
					<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
							<hr>
								<a href="https://targowisko.org/dodaj_reklame">	
									<h2>Dodaj reklamę.</h2>
								</a>
									<div class="ads">
										<a href="https://targowisko.org/dodaj_reklame">
											<img alt="" src="upload/photos/2019/09//reklama_1.png">		
										</a>
													<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
											<i class="fab fa-facebook-f"></i>
										</a>
												</div>
									<hr>
							</div></br>			
				</div>   
		</div></br>					
		<div class="M-4">
				<div class="D">
						<div class="city"><a href="https://targowisko.org/s-swietokrzyskie" title="Świętokrzyskie">Świętokrzyskie</a></div></br>
						<ul id="poz" >
							<li><a href="https://targowisko.org/s-swietokrzyskie/busko-zdroj" >Busko-Zdrój</li> 
							<li><a href="https://targowisko.org/s-swietokrzyskie/jedrzejow" >Jędrzejów</li> 
							<li><a href="https://targowisko.org/s-swietokrzyskie/kielce" >Kielce</li> 
							<li><a href="https://targowisko.org/s-swietokrzyskie/konskie" >Końskie</li> 
							<li><a href="https://targowisko.org/s-swietokrzyskie/ostrowiec-swietokrzyski" >Ostrowiec Świętokrzyski</li> 
							<li><a href="https://targowisko.org/s-swietokrzyskie/sandomierz" >Sandomierz</li> 
							<li><a href="https://targowisko.org/s-swietokrzyskie/skarzysko-kamienna" >Skarżysko-Kamienna</li> 
							<li><a href="https://targowisko.org/s-swietokrzyskie/starachowice" >Starachowice</li> 
							<li><a href="https://targowisko.org/s-swietokrzyskie/staszow" >Staszów</a></li> 							
						</ul>
						<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
								<hr>
									<a href="https://targowisko.org/dodaj_reklame">	
										<h2>Dodaj reklamę.</h2>
									</a>
										<div class="ads">
											<a href="https://targowisko.org/dodaj_reklame">
												<img alt="" src="upload/photos/2019/09//reklama_1.png">		
											</a>
														<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
												<i class="fab fa-facebook-f"></i>
											</a>
													</div>
										<hr>
								</div></br>
						</div></br>
						<div class="D">
								<div class="city"><a href="https://targowisko.org/s-warminsko-mazurskie/" title="Warmińsko Mazurskie">Warmińsko Mazurskie</a></div></br>
								<ul id="poz">
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/braniewo" >Braniewo</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/bartoszyce" >Bartoszyce</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/dzialowo" >Działowo</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/elblag" >Elbląg</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/elk" >Ełk</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/gizycko" >Giżycko</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/ilawa" >Iława</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/ketrzyn" >Kętrzyn</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/lidzbark-warminski" >Lidzbark Warminski</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/mragowo" >Mrągowo</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/olecko" >Olecko</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/olsztyn" >Olsztyn</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/ostroda" >Ostróda</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/pisz" >Pisz</li> 
									<li><a href="https://targowisko.org/s-warminsko-mazurskie/szczytno" title="Zobacz Szczytno"><span style="color: orangered">Szczytno</span></a></li> 										
								</ul>
								<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
										<hr>
											<a href="https://targowisko.org/dodaj_reklame">	
												<h2>Dodaj reklamę.</h2>
											</a>
												<div class="ads">
													<a href="https://targowisko.org/dodaj_reklame">
														<img alt="" src="upload/photos/2019/09//reklama_1.png">		
													</a>
																<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
														<i class="fab fa-facebook-f"></i>
													</a>
															</div>
												<hr>
										</div></br>	
						</div></br>
						<div class="D">
							<div class="city"><a href="https://targowisko.org/s-wielkopolskie/" title="Wielkopolskie">Wielkopolskie</a></div></br>
							<ul id="poz" >
								<li><a href="https://targowisko.org/s-wielkopolskie/chodziez" >Chodzież</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/gniezno" >Gniezno</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/gostyn" >Gostyń</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/jarocin" >Jarocin</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/kalisz" >Kalisz</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/kolo" >Koło</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/konin" >Konin</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/koscian" >Kościan</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/krotoszyn" >Krotoszyn</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/leszno" >Leszno</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/lubon" >Luboń</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/nowy-tomysl" >Nowy Tomyśl</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/oborniki" >Oborniki</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/ostrow--wielkopolski" >Ostrów  Wielkopolski</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/pila" >Piła</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/pleszew" >Pleszew</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/poznan" >Poznań</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/rawicz" >Rawicz</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/srem" >Śrem</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/sroda-wielkopolska" >Środa Wielkopolska</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/swarzedz" >Swarzędz</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/szamotuly" >Szamotuły</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/trzcianka" >Trzcianka</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/turek" >Turek</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/wagrowiec" >Wągrowiec</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/wrzesnia" >Września</li> 
								<li><a href="https://targowisko.org/s-wielkopolskie/zlotow" >Złotów</a></li> 													
							</ul>
							<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
									<hr>
										<a href="https://targowisko.org/dodaj_reklame">	
											<h2>Dodaj reklamę.</h2>
										</a>
											<div class="ads">
												<a href="https://targowisko.org/dodaj_reklame">
													<img alt="" src="upload/photos/2019/09//reklama_1.png">		
												</a>
															<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
													<i class="fab fa-facebook-f"></i>
												</a>
														</div>
											<hr>
									</div></br>	
					</div></br>
					<div class="D">
						<div class="city" ><a href="https://targowisko.org/s-zachodniopomorskie/" title="Zachodniopomorskie">Zachodniopomorskie</a></div></br>
						<ul id="poz"  >
							<li><a href="https://targowisko.org/s-zachodniopomorskie/bialogard" >Białogard</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/choszczno" >Choszczno</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/goleniow" >Goleniów</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/gryfice" >Gryfice</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/gryfino" >Gryfino</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/kamien-pomorski" >Kamień Pomorski</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/kolobrzeg" >Kołobrzeg</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/koszalin" >Koszalin</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/nowogard" >Nowogard</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/police" >Police</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/stargard" >Stargard</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/swidwin" >Świdwin</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/swinoujscie" >Świnoujście</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/szczecin" >Szczecin</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/szczecinek" >Szczecinek</li> 
							<li><a href="https://targowisko.org/s-zachodniopomorskie/walcz" >Wałcz</a></li> 												
						</ul>
						<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
								<hr>
									<a href="https://targowisko.org/dodaj_reklame">	
										<h2>Dodaj reklamę.</h2>
									</a>
										<div class="ads">
											<a href="https://targowisko.org/dodaj_reklame">
												<img alt="" src="upload/photos/2019/09//reklama_1.png">		
											</a>
														<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
												<i class="fab fa-facebook-f"></i>
											</a>
													</div>
										<hr>
								</div></br>	
					</div></br>
                    <div class="G">
						<div class="city" ><a href="https://targowisko.org/s-zagranica/" title="Zagranica">Zagranica</a></div></br>
						<ul id="poz">
							<li><a href="https://targowisko.org/s-zagranica/new-york" >New York</li> 
							<li><a href="https://targowisko.org/s-zagranica/islandia" >Islandia</li> 
							<li><a href="https://targowisko.org/s-zagranica/niemcy" >Niemcy</li> 
							<li><a href="https://targowisko.org/s-zagranica/anglia" >Anglia</li> 
							<li><a href="https://targowisko.org/s-zagranica/irlandia" >Irlandia</a></li> 																
						</ul>
						<div class="ads-title" alt="Dodaj reklamę" title="Dodaj reklamę."> 
								<hr>
									<a href="https://targowisko.org/dodaj_reklame">	
										<h2>Dodaj reklamę.</h2>
									</a>
										<div class="ads">
											<a href="https://targowisko.org/dodaj_reklame">
												<img alt="" src="upload/photos/2019/09//reklama_1.png">		
											</a>
														<a class="ads-fb" href="http://www.facebook.com/Targowisko-darmowe-og%C5%82oszenia-1853942881321358/" target="_blank">
												<i class="fab fa-facebook-f"></i>
											</a>
													</div>
										<hr>
								</div></br>
					</div>

		   <div class="clear: both"></div>
		</div>
		<div class="clear: both"></div>
	</div>
	</div>
	<div class="text-center"><a class="btn btn-1" href="https://targowisko.org/" title="Pwrót do strony głównej">Pwrót do strony głównej</a></div>
	

	





	<!--{% if settings.index_box_subcategories and categories %}
		<div id="index_categories">
			<nav class="container">
				<div class="row">
										
					{% for item in categories %}
						<div class="col-lg-3 col-md-4 col-sm-6 col-12 index_categories"><a href="{{ path('offers') }}?category={{ item.id }}" title="{{ 'Category'|lang }}: {{ item.name }}" class="{% if item.list_subcategories %}index_show_subcategories{% endif %}" data-id="{{ item.id }}" data-index="{{ loop.index }}">{% if item.thumb %}
							<img src="{{ item.thumb }}" alt="{{ item.name }}"> {% endif %}<span class="name">{{ item.name }}</span>

							

						</a></div>
					{% endfor %}-->
				</div>
				<!--{% for item in categories %}
					<div class="index_subcategories col-12" id="index_subcategory_{{ item.id }}">
						<p>{{ 'See all offers in'|lang }} <a href="{{ path('offers') }}?category={{ item.id }}" title="{{ 'Category'|lang }}: {{ item.name }}"><span class="name">{{ item.name }}{% if settings.show_number_offers_in_categories %} ({{ item.number_offers }})</span>{% endif %}</a></p>
						{% if item.list_subcategories %}
							<hr>
							<div class="row">									
								{% for item2 in item.list_subcategories %}
									<div class="col-md-3 index_subcategories_list"><a href="{{ path('offers') }}?category={{ item2.id }}" title="{{ 'Category'|lang }}: {{ item2.name }}">> <span class="name">{{ item2.name }}{% if settings.show_number_offers_in_categories %} ({{ item2.number_offers }}){% endif %}</span></a></div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endfor %}-->
			</nav>
		<!--</div>-->
	{% else %}
		<br><br>
	{% endif %}-->
	
	{% if settings.ads_1 %}<div class="ads">{{ settings.ads_1|raw }}</div>{% endif %}		
	{% if settings.ads_2 %}<div class="ads">{{ settings.ads_2|raw }}</div>{% endif %}
	
	{% if settings.index_page %}
		<div id="index_text">
			<div class="container content">
				{{ settings.index_page|raw }}
			</div>
		</div>
	{% endif %}
	
	{% if settings.ads_3 %}<div class="ads">{{ settings.ads_3|raw }}</div>{% endif %}
	
	{% if articles %}
		<div class="container">
			<br><br><h3 class="text-center">{{ 'Recent articles'|lang }}</h3>
			<br><br>
			{% include 'articles.tpl' %}
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
