body{
	background-color: #f8f8f8;	background-image: url('../../admin/images/background.png')
}
#logo{
	height: 100px; margin: 0 auto 20px; display: block;
}
.container{
	width: 700px; max-width:100%; background-color: white; padding: 30px; margin: 50px auto;
}
footer{
	background-color: rgba(255,255,255,0.5); padding: 15px 0 5px;  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}