body{
	background-color: #f8f8f8;	background-image: url('../../images/background.png')
}
.form-inline .form-control.datepicker{
	width: 100px;
}
.login-form{
	background-color: white;  margin-top: 80px; margin-bottom: 80px; box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.login-form img{
	max-width: 70%; margin: 15px auto;
}
.panel-title {
    color: #777777;    font-size: 13px;    text-transform: uppercase;
}
.thumbnail-100{
	max-height:100px;
}
#logo{
	padding: 3px 15px;
}
#logo img{
	max-height: 100%;
}
footer{
	background-color: rgba(255,255,255,0.5); padding: 15px 0 5px;  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
#roxySelectFile iframe{
	width:100%; height:100%; min-height:500px;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
   padding: 1px 30px 50px; margin-top: -1px;   min-height: 568px;    background-color: #fdfff0;  
}
.navbar-top-links{
	margin-right:0;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    padding: 15px;   min-height: 50px;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;    padding-left: 0;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
nav.main-nav{
	margin-bottom: 0;
}
nav.main-nav a{
	color: #003153;
	font-size: 1.8rem;
}
nav.main-nav .glyphicon{
	color: #035fbb;
	font-size:20px; 
}
nav.main-nav .active a{
	color: green;
	 background-color: #eee;
	 font-size: 20px;
}
label
{
	color: #bf7600;
}
.text-danger
{
	font-size: 20px;
}
h1
{
	color: green;
}
p{
	font-size: 20px;
	color: #035fbb;
}
#jqplot{
	width:90%; height: 250px; margin: auto; 
}
.glyphicon.inactive{
	color: grey; cursor: default; text-decoration: none;
}
/* cookie alert */
#cookies-message{
	color: white; padding: 12px 10px; text-align: center; position: fixed; bottom:0px; left:0; right:0; background-color: rgba(0,0,0,0.6); z-index: 100000; box-shadow: 0 0 5px rgba(0,0,0,0.4); display: none;
}
#accept-cookies-checkbox{
	background-color: #00AFBF; color: #FFF; border: solid 1px #00AFBF; transition: all 0.5s; padding: 2px 6px; border-radius: 4px; display: inline-block; margin-left: 10px; text-decoration: none; cursor: pointer
}
#accept-cookies-checkbox:hover{
	background-color: transparent; border-color: white;
}
.eye{
	color: #9e9c9c;
	position: absolute;
}
/* responsive */
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;  margin: -1px 0 0 250px;   border-left: 1px solid #e7e7e7;
    }
	.sidebar {
        z-index: 1; position: absolute; width: 250px; margin-top: 51px;
    }
}

