
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-edit"></span> {{ 'Articles'|lang }}</h1>
	<p>{{ 'Here you can edit articles'|lang }}</p>
	{% if not settings.enable_articles %}<p class="text-danger">{{ 'Warning! Displaying articles is turned off in the settings.'|lang }}</p>{% endif %}
</div>

{% include 'alert.tpl' %}

<a href="?controller=article" title="{{ 'Add article'|lang }}" class="btn btn-success">{{ 'Add article'|lang }}</a>
<br><br>
{% if articles %}
	<table class="table parent_select_checkbox table-striped table-bordered table-condensed">
		<tr>
			<th></th> 
			<th>{{ 'Title'|lang }}</th>
			<th class="text-center">{{ 'Date'|lang }}</th>
			<th class="text-center">{{ 'Edit'|lang }}</th>
			<th class="text-center">{{ 'Remove'|lang }}</th>
		</tr>

		{% for item in articles %}
			<tr>
				<td class="text-center">{{ loop.index }}</td>
				<td><a href="{{ path('article',item.id,item.slug) }}" title="{{ item.name }}" target="_blank">{{ item.name }}</a></td>
				<td class="text-center">{{ item.date|date('Y-m-d') }}</td>
				<td class="text-center"><a href="?controller=article&id={{ item.id }}" title="{{ 'Edit article'|lang }}" class="glyphicon glyphicon-edit"></a></td>
				<td class="text-center"><a href="#" title="{{ 'Delete article'|lang }}" class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target="#remove_{{ item.id }}"></a></td>
			</tr>

			<div class="modal fade" id="remove_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Delete article'|lang }}: {{ item.name }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">{{ 'Delete article'|lang }}</h4>
						</div>
						<form method="post">
							<input type="hidden" name="action" value="remove_article">
							<input type="hidden" name="token" value="{{ generateToken('admin_remove_article') }}">
							<input type="hidden" name="id" value="{{ item.id }}">
							<div class="modal-body">
								<p>{{ 'Are you sure you want to delete article'|lang }}: "{{ item.name }}"?</p>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
								<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
							</div>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</table>

	{% include 'pagination.tpl' %}

{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}
{% endblock %}
