
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-edit"></span> {% if article %}{{ 'Edit article'|lang }}: {{ article.name }}{% else %}{{ 'Add article'|lang }}{% endif %}</h1>
	<p>{{ 'Here you can edit articles'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<form role="form" class="form-horizontal" method="post">
	{% if article %}
		<input type="hidden" name="action" value="edit_article">
		<input type="hidden" name="id" value="{{ article.id }}">
		<input type="hidden" name="token" value="{{ generateToken('admin_edit_article') }}">
	{% else %}
		<input type="hidden" name="action" value="add_article">
		<input type="hidden" name="token" value="{{ generateToken('admin_add_article') }}">
	{% endif %}
	<div class="form-group">
		<label for="name">{{ 'Title'|lang }}</label>
		<input type="text" name="name" placeholder="{{ 'Title'|lang }}" title="{{ 'Here enter title'|lang }}" maxlength="64" value="{{ article.name }}" required autofocus class="form-control">
	</div>
	<div class="form-group">
		<label for="thumb">{{ 'Thumb'|lang }}</label><br>	
		<a href="#" class="open_roxy" data-target="#roxySelectFile">
			<img data-roxy_name="thumb" src="{% if article %}{{ article.thumb }}{% else %}images/no_image.png{% endif %}" onerror="this.src='images/no_image.png'" alt="{{ 'Thumb'|lang }}" style="max-height: 100px">
		</a><br><br>
		<input type="text" name="thumb" value="{% if article %}{{ article.thumb }}{% endif %}" placeholder="{{ 'Thumb'|lang }}" title="{{ 'Paste the URL of a thumbnail in the article'|lang }}" class="form-control">
	</div>
	<div class="form-group">
		<label for="content_short">{{ 'Short content'|lang }}</label>
		<textarea name="content_short" placeholder="{{ 'Short content'|lang }}" title="{{ 'Short content'|lang }}" maxlength="512" class="form-control">{{ article.content_short }}</textarea>
	</div>
	<div class="form-group">
		<label for="content">{{ 'Content'|lang }}</label>
		<textarea name="content" placeholder="{{ 'Content'|lang }}" title="{{ 'Content'|lang }}" class="form-control">{{ article.content|raw }}</textarea>
		<script>
			run_ckeditor('content',300);
		</script>
	</div>
	<div class="form-group">
		<label for="keywords">{{ 'Keywords SEO'|lang }}</label>
		<textarea name="keywords" title="{{ 'Keywords SEO'|lang }}" placeholder="{{ 'Keywords SEO'|lang }}" maxlength="512" class="form-control">{{ article.keywords }}</textarea>
	</div>
	<div class="form-group">
		<label for="title">{{ 'Description SEO'|lang }}</label>
		<textarea name="description" title="{{ 'Description SEO'|lang }}" placeholder="{{ 'Description SEO'|lang }}" maxlength="512" class="form-control">{{ article.description }}</textarea>
	</div>
	<div class="form-group">
		<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-primary text-uppercase">
	</div>
	<br>
	<div class="form-group">
		<p><a href="?controller=articles" title="{{ 'Back to the list of articles'|lang }}">{{ 'Back to the list of articles'|lang }}</a></p>
	</div>
</form>
{% endblock %}