
{% extends "main.tpl" %}

{% block content %}	
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="{{ 'Add category'|lang }}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'Add category'|lang }}</h4>
			</div>
			<form method="post" class="form">
				<input type="hidden" name="action" value="add_category">
				<input type="hidden" name="token" value="{{ generateToken('admin_add_category') }}">
				<div class="modal-body">
					<div class="form-group">
						<label for="name">{{ 'The name'|lang }}</label>
						<input type="text" name="name" required maxlength="64" placeholder="{{ 'The name'|lang }}" title="{{ 'The name'|lang }}" class="form-control">
					</div>
					<div class="form-group">
						<label for="cost">{{ 'Charge'|lang }}</label>
						<div class="input-group">
							<input type="number" name="cost" min="0" step="0.01" class="form-control">
							<div class="input-group-addon">{{ settings.currency }}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="thumb">{{ 'Thumb'|lang }}</label><br>	
						<a href="#" class="open_roxy" data-target="#roxySelectFile">
							<img data-roxy_name="thumb" src="images/no_image.png" alt="{{ 'Thumb'|lang }}" style="max-height: 100px">
						</a><br><br>
						<input type="text" name="thumb" placeholder="{{ 'Thumb'|lang }}" title="{{ 'Thumb'|lang }}" class="form-control">
					</div>
					<div class="form-group">
						<label for="content">{{ 'Content'|lang }}</label>
						<textarea id="content" name="content" placeholder="{{ 'Content'|lang }}" title="{{ 'Content'|lang }}" class="form-control"></textarea>
						<script>
							run_ckeditor('content',100);
						</script>
					</div>
					<div class="form-group">
						<label for="h1">{{ 'Header h1'|lang }}</label>
						<input type="text" name="h1" title="{{ 'Header h1'|lang }}" placeholder="{{ 'Header h1'|lang }}" maxlength="512" class="form-control">
					</div>
					<div class="form-group">
						<label for="title">{{ 'Title SEO'|lang }}</label>
						<input type="text" name="title" title="{{ 'Title SEO'|lang }}" placeholder="{{ 'Title SEO'|lang }}" maxlength="512" class="form-control">
					</div>
					<div class="form-group">
						<label for="keywords">{{ 'Keywords SEO'|lang }}</label>
						<input type="text" name="keywords" title="{{ 'Keywords SEO'|lang }}" placeholder="{{ 'Keywords SEO'|lang }}" maxlength="512" class="form-control">
					</div>
					<div class="form-group">
						<label for="description">{{ 'Description SEO'|lang }}</label>
						<textarea name="description" title="{{ 'Description SEO'|lang }}" placeholder="{{ 'Description SEO'|lang }}" maxlength="512" class="form-control"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
					<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<h1><span class="glyphicon glyphicon-tree-deciduous"></span> {% if category %}{{ 'Subcategories in'|lang }}: {{ category.name }}{% else %}{{ 'Categories'|lang }}{% endif %}</h1>
	<p>{{ 'Here you can edit the categories'|lang }}</p>
	{% if category %}
		<h4>
			<a href="?controller=categories" title="{{ 'Main Page'|lang }}">{{ 'Main Page'|lang }}</a> > 
			{% for item in category.breadcrumbs %}
				<a href="?controller=categories&category_id={{ item.id }}&category_name={{ item.slug }}" title="{{ 'Category'|lang }}: {{ item.name }}">{{ item.name }}</a>
				{% if not loop.last %} > {% endif %}
			{% endfor %}
		</h4>
	{% endif %}
</div>

{% include 'alert.tpl' %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">{{ 'Add category'|lang }}</button>
<br><br>
{% if categories %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th></th>
				<th>{{ 'Thumb'|lang }}</th>
				<th>{{ 'The name'|lang }}</th>
				<th class="text-center" style="width:55px">{{ 'Position'|lang }}</th>
				<th class="text-center">{{ 'Charge'|lang }}</th>
				<th class="text-center">{{ 'Number of offers'|lang }}</th>
				<th class="text-center">{{ 'Edit'|lang }}</th>
				<th class="text-center">{{ 'Edit subcategories'|lang }}</th>
				<th class="text-center">{{ 'Remove'|lang }}</th>
			</tr>
				
			{% for item in categories %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{% if item.thumb %}<img src="{{ item.thumb }}" onerror="this.src='images/no_image.png'" alt="{{ 'Thumb'|lang }}" style="max-height: 40px">{% endif %}</td>
					<td><a href="{{ path('offers') }}?category={{ item.id }}" target="_blank" title="{{ item.name }}">{{ item.name }}</a></td>
					<td class="text-center">
						<a href="#" title="{{ 'Position up'|lang }}" class="glyphicon glyphicon-arrow-up ajax {% if loop.first %}inactive{% endif %}" data-action="position_categories" data-id="{{ item.id }}" data-position="{{ item.position }}" data-plusminus="+" data-category="{% if category %}{{ category.id }}{% else %}0{% endif %}" data-token="{{ generateToken('admin_position_categories') }}"></a>
						<a href="#" title="{{ 'Position down'|lang }}" class="glyphicon glyphicon-arrow-down ajax {% if loop.last %}inactive{% endif %}" data-action="position_categories" data-id="{{ item.id }}" data-position="{{ item.position }}" data-plusminus="-" data-category="{% if category %}{{ category.id }}{% else %}0{% endif %}" data-token="{{ generateToken('admin_position_categories') }}"></a>
					</td>
					<td class="text-center">{{ item.cost|showCurrency }}</td>
					<td class="text-center">{{ item.number_offers }}</td>
					<td class="text-center"><a href="#" title="{{ 'Edit'|lang }}" class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#edit_{{ item.id }}"></a></td>
					<td class="text-center"><a href="?controller=categories&category_id={{ item.id }}&category_name={{ item.slug }}" title="{{ 'Edit subcategories'|lang }}" class="glyphicon glyphicon-edit" ></a></td>
					<td class="text-center"><a href="#" title="{{ 'Remove'|lang }}" class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target="#remove_{{ item.id }}"></a></td>
				</tr>
				
				<div class="modal fade" id="edit_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Edit'|lang }}: {{ item.name }}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{{ 'Edit'|lang }}: {{ item.name }}</h4>
							</div>
							<form method="post" class="form">
								<input type="hidden" name="action" value="edit_category">
								<input type="hidden" name="token" value="{{ generateToken('admin_edit_category') }}">
								<input type="hidden" name="id" value="{{ item.id }}">
								<div class="modal-body">
									<div class="form-group">
										<label for="name">{{ 'The name'|lang }}</label>
										<input type="text" name="name" required maxlength="64" placeholder="{{ 'The name'|lang }}" title="{{ 'The name'|lang }}" value="{{ item.name }}" class="form-control">
									</div>
									<div class="form-group">
										<label for="cost">{{ 'Charge'|lang }}</label>
										<div class="input-group">
											<input type="number" name="cost" min="0" step="0.01"  value="{{ item.cost }}" class="form-control">
											<div class="input-group-addon">{{ settings.currency }}</div>
										</div>
									</div>
									<div class="form-group">
										<label for="thumb">{{ 'Thumb'|lang }}</label><br>	
										<a href="#" class="open_roxy" data-target="#roxySelectFile">
											<img data-roxy_name="thumb" src="{% if item.thumb %}{{ item.thumb }}{% else %}images/no_image.png{% endif %}" onerror="this.src='images/no_image.png'" alt="{{ 'Thumb'|lang }}" style="max-height: 100px">
										</a><br><br>
										<input type="text" name="thumb" placeholder="{{ 'Thumb'|lang }}" title="{{ 'Thumb'|lang }}" value="{{ item.thumb }}" class="form-control">
									</div>
									<div class="form-group">
										<label for="content">{{ 'Content'|lang }}</label>
										<textarea id="content_{{ item.id }}" name="content" placeholder="{{ 'Content'|lang }}" title="{{ 'Content'|lang }}" class="form-control">{{ item.content|raw }}</textarea>
										<script>
											run_ckeditor('content_{{ item.id }}',100);
										</script>
									</div>
									<div class="form-group">
										<label for="h1">{{ 'Header h1'|lang }}</label>
										<input type="text" name="h1" title="{{ 'Header h1'|lang }}" placeholder="{{ 'Header h1'|lang }}" maxlength="512" class="form-control" value="{{ item.h1 }}">
									</div>
									<div class="form-group">
										<label for="title">{{ 'Title SEO'|lang }}</label>
										<input type="text" name="title" title="{{ 'Title SEO'|lang }}" placeholder="{{ 'Title SEO'|lang }}" maxlength="512" class="form-control" value="{{ item.title }}">
									</div>
									<div class="form-group">
										<label for="keywords">{{ 'Keywords SEO'|lang }}</label>
										<input type="text" name="keywords" title="{{ 'Keywords SEO'|lang }}" placeholder="{{ 'Keywords SEO'|lang }}" maxlength="512" value="{{ item.keywords }}" class="form-control">
									</div>
									<div class="form-group">
										<label for="description">{{ 'Description SEO'|lang }}</label>
										<textarea name="description" title="{{ 'Description SEO'|lang }}" placeholder="{{ 'Description SEO'|lang }}" maxlength="512" class="form-control">{{ item.description }}</textarea>
									</div>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
									<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="remove_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Remove category'|lang }}: {{ item.name }}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{{ 'Remove category'|lang }}</h4>
							</div>
							<form method="post">
								<input type="hidden" name="action" value="remove_category">
								<input type="hidden" name="id" value="{{ item.id }}">
								<input type="hidden" name="token" value="{{ generateToken('admin_remove_category') }}">
								<div class="modal-body">
									<p>{{ 'Are you sure you want to remove category'|lang }}: "{{ item.name }}"?</p>
									<p>{{ 'All subcategories will be deleted'|lang }}</p>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
									<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
								</div>
							</form>
						</div>
					</div>
				</div>
			{% endfor %}		
		</table>
	</div>
	<p><a href="#" title="{{ 'Arrange alphabetically'|lang }}" class="ajax_confirm" data-action="arrange_categories_alphabetically" data-category="{% if category %}{{ category.id }}{% else %}0{% endif %}" data-title="{{ 'Are you sure you want to arrange categories alphabetically on this page?'|lang }}" data-token="{{ generateToken('admin_arrange_categories_alphabetically') }}">{{ 'Arrange alphabetically'|lang }}</a></p>
	<p><a href="#" data-toggle="modal" data-target="#reload" title="Reload all subcategories">{{ 'Reload all subcategories'|lang }}</a><p>
{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}

{% if category %}<br><p><a href="?controller=categories&category_id={{ category.category_id }}" title="{{ 'Return to the previous category'|lang }}">{{ 'Return to the previous category'|lang }}</a></p>{% endif %}

<div class="modal fade" id="reload" tabindex="-1" role="dialog" aria-labelledby="{{ 'Reload all subcategories'|lang }}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'Reload all subcategories'|lang }}</h4>
			</div>
			<form method="post" class="form">
				<input type="hidden" name="action" value="reload_category">
				<input type="hidden" name="category" value="{% if category %}{{ category.id }}{% else %}0{% endif %}">
				<input type="hidden" name="token" value="{{ generateToken('admin_reload_category') }}">
				<div class="modal-body">
					<p class="text-danger">{{ 'This operation may take several minutes to very use database. Use this function only when the links to subcategory are incorrect.'|lang }}</p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
					<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}