
{% extends "main.tpl" %}

{% block content %}
<div class="row">
	<br><br><br>
	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading"> {{ 'Admin Panel'|lang }}</div>
			<div class="panel-body text-center">
				<br>
				<a href="https://targowisko.org" title="Strona targowisko" target="_blank"><img src="images/targowisko.png" alt="targowisko" class="img-responsive" style="margin:auto"/></a>
				<br><br>
				<p>{{ 'Admin Panel allows an easy way to edit the content of your website. Use links in the menu on left. In case of problems with the service please with seller'|lang }}</p>
			</div>
		</div>
	</div>
	<br><br><br>
</div>
{% endblock %}
