
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-edit"></span> {{ 'Index page'|lang }}</h1>
	<p>{{ 'Here you can edit content of page'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<form method="post" class="form-horizontal" role="form">
	<input type="hidden" name="action" value="save_index_page">
	<input type="hidden" name="token" value="{{ generateToken('admin_save_index_page') }}">
	<label class="control-label">{{ 'Content'|lang }}:</label>
	<textarea name="index_page" placeholder="{{ 'Content'|lang }}" title="{{ 'Content'|lang }}" class="form-control">{{ settings.index_page|raw }}</textarea>
	<script>
		run_ckeditor('index_page');
	</script>
	<br>
	<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-primary text-uppercase">
</form>
<br><br>
<h3>{{ 'Slider'|lang }}</h3>
<p>{{ 'Subtitles add in tag'|lang }}: &lt;div class=&quot;carousel-caption&quot;&gt;&lt;/div&gt;</p>
<form method="post" action="">
	<input type="hidden" name="action" value="add_slide">
	<input type="hidden" name="token" value="{{ generateToken('admin_add_slide') }}">
	<input type="submit" value="{{ 'Add slide'|lang }}" class="btn btn-sm btn-success">
</form>
<br>
{% if slider %}
	<form method="post">
		<input type="hidden" name="action" value="save_slides">
		<input type="hidden" name="token" value="{{ generateToken('admin_save_slides') }}">
		{% for key, item in slider %}
			<div id="box_slide_{{ key }}">
				<h4>{{ 'Slide'|lang }}: {{ loop.index }}</h4>
				<textarea id="slide_{{ key }}" name="content[]">{{ item|raw }}</textarea>
				<script>
					run_ckeditor('slide_{{ key }}');
				</script>
				<br>
				<p><a href="#" title="{{ 'Remove slide'|lang }}" data-id="box_slide_{{ key }}" class="link_remove_slide text-danger">{{ 'Remove slide'|lang }}</a></p>
				<br>
			</div>
		{% endfor %}
		<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-sm btn-primary text-uppercase">
	</form>
{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}
{% endblock %}
