
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-edit"></span> {% if info_page %}{{ 'Edit info page'|lang }}: {{ info_page.name }}{% else %}{{ 'Add info page'|lang }}{% endif %}</h1>
	<p>{{ 'Here you can edit content of page'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<form role="form" class="form-horizontal" method="post">
	{% if info_page %}
		<input type="hidden" name="action" value="edit_info">
		<input type="hidden" name="id" value="{{ info_page.id }}">
		<input type="hidden" name="token" value="{{ generateToken('admin_edit_info') }}">
	{% else %}
		<input type="hidden" name="action" value="add_info">
		<input type="hidden" name="token" value="{{ generateToken('admin_add_info') }}">
	{% endif %}
	<div class="form-group">
		<label for="title">{{ 'Title'|lang }}</label>
		<input type="text" name="name" placeholder="{{ 'Title'|lang }}" title="{{ 'Here enter title'|lang }}" maxlength="64" value="{{ info_page.name }}" required autofocus class="form-control">
	</div>
	<div class="form-group">
		<label for="content">{{ 'Content'|lang }}</label>
		<textarea name="content" placeholder="{{ 'Content'|lang }}" title="{{ 'Content'|lang }}" class="form-control">{{ info_page.content|raw }}</textarea>
		<script>
			run_ckeditor('content',300);
		</script>
	</div>
	<div class="form-group">
		<label for="keywords">{{ 'Keywords SEO'|lang }}</label>
		<textarea name="keywords" title="{{ 'Keywords SEO'|lang }}" placeholder="{{ 'Keywords SEO'|lang }}" maxlength="512" class="form-control">{{ info_page.keywords }}</textarea>
	</div>
	<div class="form-group">
		<label for="description">{{ 'Description SEO'|lang }}</label>
		<textarea name="description" title="{{ 'Description SEO'|lang }}" placeholder="{{ 'Description SEO'|lang }}" maxlength="512" class="form-control">{{ info_page.description }}</textarea>
	</div>
	<div class="form-group">
		<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-primary text-uppercase">
	</div>
	<div class="form-group">
		<br><p><a href="?controller=info" title="{{ 'Back to the list of info pages'|lang }}">{{ 'Back to the list of info pages'|lang }}</a></p>
	</div>
</form>
{% endblock %}
