
{% extends "main.tpl" %}

{% block content %}		
<div class="page-header">
	<h1><span class="glyphicon glyphicon-edit"></span> {{ 'Info'|lang }}</h1>
	<p>{{ 'Here you can edit content of page'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<a href="?controller=info_page" title="{{ 'Add info page'|lang }}" class="btn btn-success">{{ 'Add info page'|lang }}</a>
<br><br>
{% if info %}
	<table class="table parent_select_checkbox table-striped table-bordered table-condensed">
		<tr>
			<th>{{ 'Title'|lang }}</th>
			<th class="text-center" style="width:55px">{{ 'Position'|lang }}</th>
			<th class="text-center">{{ 'Edit'|lang }}</th>
			<th class="text-center">{{ 'Remove'|lang }}</th>
		</tr>
			
		{% for item in info %}
			<tr>
				<td><a href="{% if item.page=='contact' %}{{ path('contact') }}{% else %}{{ path('info',item.id,item.slug) }}{% endif %}" title="{{ item.name }}" target="_blank">{{ item.name }}</a></td>
				<td class="text-center">
					<a href="#" title="{{ 'Position up'|lang }}" class="glyphicon glyphicon-arrow-up ajax {% if loop.first %}inactive{% endif %}" data-action="position_info" data-id="{{ item.id }}" data-position="{{ item.position }}" data-plusminus="+" data-token="{{ generateToken('admin_position_info') }}"></a>
					<a href="#" title="{{ 'Position down'|lang }}" class="glyphicon glyphicon-arrow-down ajax {% if loop.last %}inactive{% endif %}" data-action="position_info" data-id="{{ item.id }}" data-position="{{ item.position }}" data-plusminus="-" data-token="{{ generateToken('admin_position_info') }}"></a>
				</td>
				<td class="text-center"><a href="?controller=info_page&id={{ item.id }}" title="{{ 'Edit info page'|lang }}" class="glyphicon glyphicon-edit"></a></td>
				<td class="text-center">{% if not item.page %}<a href="#" title="{{ 'Delete info page'|lang }}" class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target="#remove_{{ item.id }}"></a>{% endif %}</td>		
			</tr>

			<div class="modal fade" id="remove_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Delete info page'|lang }}: {{ item.name }}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{{ 'Delete info page'|lang }}</h4>
							</div>
							<form method="post">
								<input type="hidden" name="action" value="remove_info">
								<input type="hidden" name="id" value="{{ item.id }}">
								<input type="hidden" name="token" value="{{ generateToken('admin_remove_info') }}">
								<div class="modal-body">
									<p>{{ 'Are you sure you want to delete info page'|lang }}: "{{ item.name }}"?</p>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
									<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
								</div>
							</form>
						</div>
					</div>
				</div>
		{% endfor %}		
	</table>
	<p><a href="#" title="{{ 'Arrange alphabetically'|lang }}" class="ajax_confirm" data-action="arrange_info_alphabetically" data-title="{{ 'Are you sure you want to arrange alphabetically info subpages?'|lang }}" data-token="{{ generateToken('admin_arrange_info_alphabetically') }}">{{ 'Arrange alphabetically'|lang }}</a></p>
{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}
{% endblock %}

