
{% extends "main.tpl" %}

{% block content %}
<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="{{ 'Remove logs'|lang }}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'Remove logs'|lang }}</h4>
			</div>
			<form method="post">
				<input type="hidden" name="action" value="remove_logs">
				<input type="hidden" name="token" value="{{ generateToken('admin_remove_logs') }}">
				<div class="modal-body">
					<p>{{ 'Are you sure you want to delete the logs mails send from serwer?'|lang }}</p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
					<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<h1><span class="glyphicon glyphicon-hdd"></span> {{ 'Logs mails'|lang }}</h1>
	<p>{{ 'Here you can see logs mails send from serwer'|lang }}</p>
</div>

{% include 'alert.tpl' %}

{% if logs_mails %}
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove">{{ 'Remove logs'|lang }}</button>
	<br><br>
	<div class="table-responsive">
		<table class="table parent_select_checkbox table-striped table-bordered table-condensed">
			<tr>
				<th></th>
				<th>{{ 'Receiver'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=receiver" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=receiver&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th>{{ 'Action'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=action" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=action&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th>{{ 'Content'|lang }}</th>
				<th class="text-center">{{ 'IP'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=ip" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=ip&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center" style="width:95px">{{ 'Date'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
			</tr>
			{% for item in logs_mails %}
				<tr>
					<td class="text-center">{{ loop.index+pagination.limit_start }}</td>
					<td>{% if _ADMIN_TEST_MODE_ %}TEST{% else %}<a href="mailto:{{ item.receiver }}" title="{{ 'Write to:'|lang }} {{ item.receiver }}">{{ item.receiver }}</a>{% endif %}</td>
					<td>{{ item.action }}</td>
					<td>{{ item.content|raw }}</td>
					<td class="text-center">{{ item.ip }}</td>
					<td class="text-center"><b>{{ item.date|date('Y-m-d') }}</b><br>{{ item.date|date('H:i') }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	{% include 'pagination.tpl' %}

{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}
{% endblock %}
