
{% extends "main.tpl" %}

{% block content %}
<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="{{ 'Remove logs'|lang }}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'Remove logs'|lang }}</h4>
			</div>
			<form method="post">
				<input type="hidden" name="action" value="remove_logs">
				<input type="hidden" name="token" value="{{ generateToken('admin_remove_logs') }}">
				<div class="modal-body">
					{% if payments_type=='dotpay' %}
						<p>{{ 'Are you sure you want to delete the logs payments in'|lang }} Dotpay?</p>
					{% elseif payments_type=='przelewy24' %}
						<p>{{ 'Are you sure you want to delete the logs payments in'|lang }} Przelewy24?</p>
					{% elseif payments_type=='paypal' %}
						<p>{{ 'Are you sure you want to delete the logs payments in'|lang }} Paypal?</p>
					{% endif %}
					<select name="type" required class="form-control">
						<option value="">{{ '-- select --'|lang }}</option>
						<option value="only_removed">{{ 'Only deleted offers'|lang }}</option>
						<option value="all">{{ 'All logs'|lang }}</option>
					</select>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
					<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<h1><span class="glyphicon glyphicon-eur"></span> {{ 'Logs payments'|lang }}{% if payments_type=='dotpay' %} - Dotpay{% elseif payments_type=='przelewy24' %} - Przelewy24{% elseif payments_type=='paypal' %} - Paypal{% endif %}</h1>
	<p>{{ 'Here you can see the logs of payments'|lang }}</p>
</div>

{% include 'alert.tpl' %}

{% if payments %}
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove">{{ 'Remove logs'|lang }}</button>
	<br><br>
{% endif %}

{% if payments and payments_type=='dotpay' %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th></th>
				<th>{{ 'Offer'|lang }}</th>
				<th class="text-center">{{ 'Dotpay ID'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=dotpay_id" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=dotpay_id&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Operation Status
					<a href="?{{ pagination.page_url.sort_admin }}&sort=operation_status" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=operation_status&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Operation Number
					<a href="?{{ pagination.page_url.sort_admin }}&sort=operation_number" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=operation_number&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Operation Amount
					<a href="?{{ pagination.page_url.sort_admin }}&sort=operation_amount" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=operation_amount&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Description
					<a href="?{{ pagination.page_url.sort_admin }}&sort=description" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=description&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Email
					<a href="?{{ pagination.page_url.sort_admin }}&sort=email" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=email&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center" style="width:95px">{{ 'Date'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
			</tr>

			{% for item in payments %}
				<tr>
					<td class="text-center">{{ loop.index+pagination.limit_start }}</td>
					<td>{% if item.name %}<a href="{{ path('offer',item.item_id,item.slug) }}" title="{{ item.name }}" target="_blank">{{ item.name }}</a>{% else %}ID: {{ item.item_id }}{% endif %}</td>
					<td class="text-center">{{ item.dotpay_id }}</td>
					<td class="text-center">{{ item.operation_status }}</td>
					<td class="text-center">{{ item.operation_number }}</td>
					<td class="text-center">{{ item.operation_amount }}</td>
					<td class="text-center">{{ item.description }}</td>
					<td class="text-center">{% if _ADMIN_TEST_MODE_ %}TEST{% else %}<a href="mailto:{{ item.email }}">{{ item.email }}</a>{% endif %}</td>
					<td class="text-center"><b>{{ item.date|date('Y-m-d') }}</b><br>{{ item.date|date('H:i') }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	{% include 'pagination.tpl' %}

{% elseif payments and payments_type=='przelewy24' %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th></th>
				<th>{{ 'Offer'|lang }}</th>
				<th class="text-center">p24 order id
					<a href="?{{ pagination.page_url.sort_admin }}&sort=p24_order_id" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=p24_order_id&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Status
					<a href="?{{ pagination.page_url.sort_admin }}&sort=status" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=status&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">{{ 'Amount'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=amount" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=amount&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Sandbox
					<a href="?{{ pagination.page_url.sort_admin }}&sort=sandbox" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=sandbox&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Errors
					<a href="?{{ pagination.page_url.sort_admin }}&sort=errors" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=errors&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center" style="width:95px">{{ 'Date'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
			</tr>

			{% for item in payments %}
				<tr>
					<td class="text-center">{{ loop.index+pagination.limit_start }}</td>
					<td>{% if item.name %}<a href="{{ path('offer',item.item_id,item.slug) }}" title="{{ item.name }}" target="_blank">{{ item.name }}</a>{% else %}ID: {{ item.item_id }}{% endif %}</td>
					<td class="text-center">{{ item.p24_order_id }}</td>
					<td class="text-center">{{ item.status }}</td>
					<td class="text-center">{{ item.amount|showCurrency }}</td>
					<td class="text-center">{% if item.sandbox %}{{ 'Yes'|lang }}{% else %}{{ 'No'|lang }}{% endif %}</td>
					<td class="text-center">{{ item.errors }}</td>
					<td class="text-center"><b>{{ item.date|date('Y-m-d') }}</b><br>{{ item.date|date('H:i') }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	{% include 'pagination.tpl' %}

{% elseif payments and payments_type=='paypal' %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th></th>
				<th>{{ 'Offer'|lang }}</th>
				<th class="text-center">{{ 'Transaction ID'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=txnid" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=txnid&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">{{ 'Amount'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=amount" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=amount&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">Status
					<a href="?{{ pagination.page_url.sort_admin }}&sort=status" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=status&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">{{ 'Email'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=email" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=email&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center" style="width:95px">{{ 'Date'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
			</tr>

			{% for item in payments %}
				<tr>
					<td class="text-center">{{ loop.index+pagination.limit_start }}</td>
					<td>{% if item.name %}<a href="{{ path('offer',item.item_id,item.slug) }}" title="{{ item.name }}" target="_blank">{{ item.name }}</a>{% else %}ID: {{ item.item_id }}{% endif %}</td>
					<td class="text-center">{{ item.txnid }}</td>
					<td class="text-center">{{ item.amount }}</td>
					<td class="text-center">{{ item.status }}</td>
					<td class="text-center">{% if _ADMIN_TEST_MODE_ %}TEST{% else %}<a href="mailto:{{ item.email }}" title="{{ item.email }}">{{ item.email }}</a>{% endif %}</td>
					<td class="text-center"><b>{{ item.date|date('Y-m-d') }}</b><br>{{ item.date|date('H:i') }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	{% include 'pagination.tpl' %}

{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}
{% endblock %}
