
{% extends "main.tpl" %}

{% block content %}
<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="{{ 'Remove logs'|lang }}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'Remove logs'|lang }}</h4>
			</div>
			<form method="post">
				<input type="hidden" name="action" value="remove_logs">
				<input type="hidden" name="token" value="{{ generateToken('admin_remove_logs') }}">
				<div class="modal-body">
					<p>{{ 'Are you sure you want to delete the logs login users?'|lang }}</p>
					<select name="type" required class="form-control">
						<option value="">{{ '-- select --'|lang }}</option>
						<option value="only_removed">{{ 'Only deleted users'|lang }}</option>
						<option value="all">{{ 'All logs'|lang }}</option>
					</select>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
					<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<h1><span class="glyphicon glyphicon-hdd"></span> {{ 'Logs users'|lang }}</h1>
	<p>{{ 'Here you can see logs users'|lang }}</p>
</div>

{% include 'alert.tpl' %}

{% if logs_users %}
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove">{{ 'Remove logs'|lang }}</button>
	<br><br>
	<div class="table-responsive">
		<table class="table parent_select_checkbox table-striped table-bordered table-condensed">
			<tr>
				<td></td>
				<td>{{ 'User'|lang }}</td>
				<td class="text-center">{{ 'IP'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=ip" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=ip&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</td>
				<td class="text-center" style="width:95px">{{ 'Date'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</td>
			</tr>
			{% for item in logs_users %}
				<tr>
					<td class="text-center">{{ loop.index+pagination.limit_start}}</td>
					<td>{% if item.username %}<a href="{{ path('profile',item.user_id,item.username) }}" title="{{ 'Profile of'|lang }}: {{ item.username }}" target="_blank">{{ item.username }}</a> - {% if _ADMIN_TEST_MODE_ %}TEST{% else %}<a href="mailto:{{ item.email }}" title="{{ 'Write to:'|lang }} {{ item.email }}">{{ item.email }}</a>{% endif %}{% else %}ID: {{ item.user_id }}{% endif %}</td>
					<td class="text-center">{{ item.ip }}</td>
					<td class="text-center"><b>{{ item.date|date('Y-m-d') }}</b><br>{{ item.date|date('H:i') }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	{% include 'pagination.tpl' %}

{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}
{% endblock %}
