
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-list-alt"></span> {{ 'Mailing'|lang }}</h1>
	<p>{{ 'Here you can send mailing to users'|lang }}</p>
	<p>{{ 'You should always insert links and image paths along with the domain address (starting with http: //) or the {base_url} tag'|lang }}</p>
</div>

{% include 'alert.tpl' %}

{% if mails_queue %}

	<div class="modal fade" id="modal_cancel_mailing" tabindex="-1" role="dialog" aria-labelledby="{{ 'Cancel mailing'|lang }}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{ 'Cancel mailing'|lang }}</h4>
				</div>
				<form method="post">
					<input type="hidden" name="action" value="cancel_mailing">
					<input type="hidden" name="token" value="{{ generateToken('admin-cancel_mailing') }}">
					<div class="modal-body">
						<p>{{ 'Are you sure you want to empty the mail queue?'|lang }}</p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
						<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
					</div>
				</form>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_cancel_mailing">{{ 'Cancel mailing'|lang }}</button>

	<br><br>
{% endif %}

<form method="post" class="form" role="form">
	<input type="hidden" name="action" value="send_mailing">
	<input type="hidden" name="token" value="{{ generateToken('admin_send_mailing') }}">
	<div class="form-group">
		<input type="text" name="subject" title="{{ 'Enter the message title'|lang }}" placeholder="{{ 'Title'|lang }}" required class="form-control">
	</div>
	<div class="form-group">
		<textarea name="message"></textarea>
		<script>
			run_ckeditor('message');
		</script>
	</div>
	<div class="form-group">
		<input type="submit" value="{{ 'Start sending emails'|lang }}" class="btn btn-primary">
	</div>
</form>
{% endblock %}