
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-tree-deciduous"></span> {{ 'Offers options'|lang }}</h1>
	<p>{{ 'Here you can edit the offers options'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<p><a href="?controller=option" title="{{ 'Add option'|lang }}" class="btn btn-success">{{ 'Add option'|lang }}</a></p>
<br>
{% if options %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th></th>
				<th>{{ 'The name'|lang }}</th>
				<th class="text-center" style="width:55px">{{ 'Position'|lang }}</th>
				<th>{{ 'Kind'|lang }}</th>
				<th>{{ 'Available choices'|lang }}</th>
				<th class="text-center">{{ 'Required'|lang }}</th>
				<th class="text-center">{{ 'All categories'|lang }}</th>
				<th class="text-center">{{ 'In search'|lang }}</th>
				<th class="text-center">{{ 'Edit'|lang }}</th>
				<th class="text-center">{{ 'Remove'|lang }}</th>
			</tr>
			{% for item in options %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{% if item.pernament %}{{ item.name|lang }}{% else %}{{ item.name }}{% endif %}</td>
					<td class="text-center">
						<a href="#" title="{{ 'Position up'|lang }}" class="glyphicon glyphicon-arrow-up ajax {% if loop.index0<2 %}inactive{% endif %}" data-action="position_options" data-id="{{ item.id }}" data-position="{{ item.position }}" data-plusminus="+" data-token="{{ generateToken('admin_position_options') }}"></a>
						<a href="#" title="{{ 'Position down'|lang }}" class="glyphicon glyphicon-arrow-down ajax {% if loop.last or loop.first %}inactive{% endif %}" data-action="position_options" data-id="{{ item.id }}" data-position="{{ item.position }}" data-plusminus="-" data-token="{{ generateToken('admin_position_options') }}"></a>
					</td>
					<td>{{ item.kindName }}</td>
					<td>{{ item.select_choices }}</td>
					<td class="text-center">{% if item.required %}{{ 'Yes'|lang }}{% endif %}</td>
					<td class="text-center">{% if item.categories_all %}{{ 'Yes'|lang }}{% endif %}</td>
					<td class="text-center">{% if item.search %}{{ 'Yes'|lang }}{% endif %}</td>
					<td class="text-center"><a href="?controller=option&id={{ item.id }}" title="{{ 'Edit'|lang }}" class="glyphicon glyphicon-edit"></a></td>
					<td class="text-center">{% if not item.pernament %}<a href="#" title="{{ 'Remove'|lang }}" class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target="#remove_{{ item.id }}"></a>{% endif %}</td>
				</tr>

				<div class="modal fade" id="remove_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Remove option'|lang }}: {{ item.name }}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{{ 'Remove option'|lang }}</h4>
							</div>
							<form method="post">
								<input type="hidden" name="action" value="remove_option">
								<input type="hidden" name="id" value="{{ item.id }}">
								<input type="hidden" name="token" value="{{ generateToken('admin_remove_option') }}">
								<div class="modal-body">
									<p>{{ 'Are you sure you want to remove option'|lang }}: "{{ item.name }}"?</p>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
									<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
								</div>
							</form>
						</div>
					</div>
				</div>
			{% endfor %}
		</table>
	</div>
{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}
{% endblock %}
