
{% extends "main.tpl" %}

{% block content %}	
<div class="page-header">
	<h1><i class="fab fa-adversal"></i> {{ 'Ads settings'|lang }}</h1>
	<p>{{ 'Here you can edit the ads of the service'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<form method="post" class="form" role="form">
	<input type="hidden" name="action" value="save_settings_ads">
	<input type="hidden" name="token" value="{{ generateToken('admin_save_settings_ads') }}">

   
	<div class="row">
		<div class="col-sm-6">
		  <input type="text" class="form-control" placeholder="First name">
		</div>
		<div class="col-sm-6">
		  <input type="text" class="form-control" placeholder="Last name">
		</div>
	  </div>

	  <div class="row">
		<div class="col-sm-6">  
			<div class="form-group">
				<label for="ads_1">{{ 'Ad code'|lang }} 1A:</label>
				<textarea name="ads_1" title="{{ 'Ad code'|lang }} 1" class="form-control">{{ settings.ads_1|raw }}</textarea>
			</div>
	</div>
<div class="col-sm-6">
	<div class="form-group">
		<label for="ads_1">{{ 'Ad code'|lang }} 1B:</label>
		<textarea name="ads_1" title="{{ 'Ad code'|lang }} 1" class="form-control">{{ settings.ads_1|raw }}</textarea>
	</div>
</div>
</div>

	<div class="form-group">
		<label for="ads_2">{{ 'Ad code'|lang }} 2:</label>
		<textarea name="ads_2" title="{{ 'Ad code'|lang }} 2" class="form-control">{{ settings.ads_2|raw }}</textarea>
	</div>
	<div class="form-group">
		<label for="ads_3">{{ 'Ad code'|lang }} 3:</label>
		<textarea name="ads_3" title="{{ 'Ad code'|lang }} 3" class="form-control">{{ settings.ads_3|raw }}</textarea>
	</div>
	<div class="form-group">
		<label for="ads_4">{{ 'Ad code'|lang }} 4:</label>
		<textarea name="ads_4" title="{{ 'Ad code'|lang }} 4" class="form-control">{{ settings.ads_4|raw }}</textarea>
	</div>
    <!--Reklamy boczne-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
	<div class="form-group">
		<label for="ads_side_1">{{ 'Ad code side'|lang }} 1 Up:</label>
		<textarea name="ads_side_1" title="{{ 'Ad code side'|lang }} 1" class="form-control">{{ settings.ads_side_1|raw }}</textarea>
	</div>
			</div>
			<div class="col-sm-4">
	<div class="form-group">
		<label for="ads_side_2">{{ 'Ad code side'|lang }} 2 Down:</label>
		<textarea name="ads_side_2" title="{{ 'Ad code side'|lang }} 2" class="form-control">{{ settings.ads_side_2|raw }}</textarea>
	</div>
	</div>
</div>
</div>
<br>
<br>
	<div class="form-group">
		<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-primary">
	</div>

	
</form>
{% endblock %}
	
	