
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><i class="fas fa-list-ul"></i></span> {{ 'Black list'|lang }}</h1>
	<p>{{ 'Here you can edit the black list. Members identified by them will not be able to register or add offer'|lang }}</p>
	<p>{{ 'Each address type in the new line. After saving will be arranged alphabetically'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<form method="post" class="form-horizontal" role="form">
	<input type="hidden" name="action" value="save_settings_black_list">
	<input type="hidden" name="token" value="{{ generateToken('admin_save_settings_black_list') }}">
	<div class="form-group">
		<label for="black_list_email" class="col-sm-3 control-label"><i class="fas fa-at"></i> {{ 'E-mail addresses'|lang }}:</label>
		<div class="col-sm-9">
			<textarea name="black_list_email" title="{{ 'E-mail addresses'|lang }}" class="form-control" style="min-height:150px">{{ settings.black_list_email }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="black_list_ip" class="col-sm-3 control-label"><i class="fab fa-adversal"></i> {{ 'IP addresses'|lang }}:</label>
		<div class="col-sm-9">
			<textarea name="black_list_ip" title="{{ 'IP addresses'|lang }}" class="form-control" style="min-height:150px">{{ settings.black_list_ip }}</textarea>
		</div>
	</div>
	<!--keywords from removal-->
	<div class="form-group">
		<div class="col-sm-3 text-right">
			<label for="black_list_words" class="control-label"><i class="fas fa-file-word"></i> {{ 'Words'|lang }}:</label>
			<p>{{ 'Enter a comma-separated list of words that will be automatically removed from the title and content of offers'|lang }}</p>
		</div>
		<div class="col-sm-9">
			<textarea name="black_list_words" title="{{ 'Words'|lang }}" class="form-control" style="min-height:150px">{{ settings.black_list_words }}</textarea>
		</div>
	</div>
	<!--lista słow płatnych-->
	<div class="form-group">
		<div class="col-sm-3 text-right">
			<label for="black_list_pay" class="control-label"><i class="fas fa-pencil-alt"></i> </span>{{ 'Words'|lang }}:</label>
			<p>{{ 'Enter a comma-separated list of words that will be automatically change the title and content of category'|lang }}</p>
		</div>
		<div class="col-sm-9">
			<textarea name="black_list_pay" title="{{ 'Pay words'|lang }}" class="form-control" style="min-height:150px">{{ settings.black_list_pay }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-primary">
		</div>
	</div>
</form>
{% endblock %}
