<!--Wygląd-->
{% extends "main.tpl" %}

{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-asterisk"></span> {{ 'Appearance settings'|lang }}</h1>
	<p>{{ 'Here you can edit the settings of the service'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<form method="post" class="form-horizontal" role="form">
	<input type="hidden" name="action" value="save_settings_appearance">
	<input type="hidden" name="token" value="{{ generateToken('admin_save_settings_appearance') }}">
	<div class="form-group">
		<label for="template" class="col-sm-2 control-label">{{ 'Template'|lang }}:</label>
		<div class="col-sm-10">
			<select name="template" title="{{ 'Template'|lang }}" required class="form-control">
				{% for item in templates %}
					<option value="{{ item }}" {% if item==settings.template %}selected{% endif %}>{{ item }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<label><input type="checkbox" name="search_box_category" title="{{ 'Show in search box: Categories'|lang }}" {% if settings.search_box_category %}checked{% endif %}> {{ 'Show in search box: Categories'|lang }}</label>
			<br>
			<label><input type="checkbox" name="search_box_address" title="{{ 'Show in search box: Address'|lang }}" {% if settings.search_box_address %}checked{% endif %}> {{ 'Show in search box: Address'|lang }}</label>
			<br>
			<label><input type="checkbox" name="search_box_distance" title="{{ 'Show in search box: Distance'|lang }}" {% if settings.search_box_distance %}checked{% endif %}> {{ 'Show in search box: Distance'|lang }}</label>
			<br>
			<label><input type="checkbox" name="search_box_keywords" title="{{ 'Show in search box: Keywords'|lang }}" {% if settings.search_box_keywords %}checked{% endif %}> {{ 'Show in search box: Keywords'|lang }}</label>
			<br>
			<label><input type="checkbox" name="search_box_price" title="{{ 'Show in search box: Price'|lang }}" {% if settings.search_box_price %}checked{% endif %}> {{ 'Show in search box: Price'|lang }}</label>
			<br>
			<label><input type="checkbox" name="search_box_state" title="{{ 'Show in search box: State'|lang }}" {% if settings.search_box_state %}checked{% endif %}> {{ 'Show in search box: State'|lang }}</label>
			<br>
			<label><input type="checkbox" name="search_box_type" title="{{ 'Show in search box: Type'|lang }}" {% if settings.search_box_type %}checked{% endif %}> {{ 'Show in search box: Type'|lang }}</label>
			<br>
			<label><input type="checkbox" name="search_box_options" title="{{ 'Show in search box: Options'|lang }}" {% if settings.search_box_options %}checked{% endif %}> {{ 'Show in search box: Options'|lang }}</label>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<label><input type="checkbox" name="show_contact_form_offer" title="{{ 'Show the contact form on offer page'|lang }}" {% if settings.show_contact_form_offer %}checked{% endif %}> {{ 'Show the contact form on offer page'|lang }}</label>
			<br>
			<label><input type="checkbox" name="show_contact_form_profile" title="{{ 'Show the contact form on profile page'|lang }}" {% if settings.show_contact_form_profile %}checked{% endif %}> {{ 'Show the contact form on profile page'|lang }}</label>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<label><input type="checkbox" name="show_breadcrumbs" title="{{ 'Show breadcrumbs'|lang }}" {% if settings.show_breadcrumbs %}checked{% endif %}> {{ 'Show breadcrumbs'|lang }}</label>
		</div>
		<div class="col-sm-10 col-sm-offset-2">
			<label><input type="checkbox" name="index_box_subcategories" title="{{ 'Show the category box on the index page'|lang }}" {% if settings.index_box_subcategories %}checked{% endif %}> {{ 'Show the category box on the index page'|lang }}</label>
		</div>
		<div class="col-sm-10 col-sm-offset-2">
			<label><input type="checkbox" name="show_number_offers_in_categories" title="{{ 'Show the number of offers in categories'|lang }}" {% if settings.show_number_offers_in_categories %}checked{% endif %}> {{ 'Show the number of offers in categories'|lang }}</label>
		</div>
	</div>
	<hr>
	<div class="form-group">
		<label for="logo" class="col-sm-2 control-label">{{ 'Logo'|lang }}:</label>
		<div class="col-sm-10">
			<a href="#" class="open_roxy" data-target="#roxySelectFile">
				<img data-roxy_name="logo" src="{% if settings.logo %}{{ settings.logo }}{% else %}images/no_image.png{% endif %}" onerror="this.src='images/no_image.png'" alt="{{ 'Logo'|lang }}" style="max-height: 100px">
			</a><br><br>
			<input type="text" name="logo" value="{{ settings.logo }}" placeholder="{{ 'Logo'|lang }}" title="{{ 'Logo'|lang }}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="logo_facebook" class="col-sm-2 control-label">{{ 'Logo - Facebook'|lang }}:</label>
		<div class="col-sm-10">
			<a href="#" class="open_roxy" data-target="#roxySelectFile">
				<img data-roxy_name="logo_facebook" src="{% if settings.logo_facebook %}{{ settings.logo_facebook }}{% else %}images/no_image.png{% endif %}" onerror="this.src='images/no_image.png'" alt="{{ 'Logo - Facebook'|lang }}" style="max-height: 100px">
			</a><br><br>
			<input type="text" name="logo_facebook" value="{{ settings.logo_facebook }}" placeholder="{{ 'Logo - Facebook'|lang }}" title="{{ 'Logo - Facebook'|lang }}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="watermark" class="col-sm-2 control-label">{{ 'Watermark'|lang }}:</label>
		<div class="col-sm-10">
			<a href="#" class="open_roxy" data-target="#roxySelectFile">
				<img data-roxy_name="watermark" src="{% if settings.watermark %}{{ settings.watermark }}{% else %}images/no_image.png{% endif %}" onerror="this.src='images/no_image.png'" alt="{{ 'Watermark'|lang }}" style="max-height: 100px">
			</a><br><br>
			<input type="text" name="watermark" value="{{ settings.watermark }}" placeholder="{{ 'Watermark'|lang }}" title="{{ 'Watermark'|lang }}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="favicon" class="col-sm-2 control-label">{{ 'Favicon'|lang }}:</label>
		<div class="col-sm-10">
			<a href="#" class="open_roxy" data-target="#roxySelectFile">
				<img data-roxy_name="favicon" src="{% if settings.favicon %}{{ settings.favicon }}{% else %}images/no_image.png{% endif %}" onerror="this.src='images/no_image.png'" alt="{{ 'Favicon'|lang }}" style="max-height: 100px">
			</a><br><br>
			<input type="text" name="favicon" value="{{ settings.favicon }}" placeholder="{{ 'Favicon'|lang }}" title="{{ 'Favicon'|lang }}" class="form-control">
		</div>
	</div>
	<hr>
	<div class="form-group">
		<label><input type="checkbox" name="rodo_alert" title="{{ 'Show message about personal data processing (RODO)'|lang }}" {% if settings.rodo_alert %}checked{% endif %}> {{ 'Show message about personal data processing (RODO)'|lang }}</label><br>
		<label for="rodo_alert_text">{{ 'Content of alert about processing personal data'|lang }}:</label>
		<textarea name="rodo_alert_text" title="{{ 'Content of alert about processing personal data'|lang }}" class="form-control">{{ settings.rodo_alert_text|raw }}</textarea>
		<script>
			run_ckeditor('rodo_alert_text',100);
		</script>
	</div>
	<hr>
	<div class="form-group">
		<label for="footer_top">{{ 'Footer - top'|lang }}:</label>
		<textarea name="footer_top" title="{{ 'Footer - top'|lang }}" class="form-control">{{ settings.footer_top|raw }}</textarea>
		<script>
			run_ckeditor('footer_top',100);
		</script>
	</div>
	<div class="form-group">
		<label for="footer_bottom">{{ 'Footer - bottom'|lang }}:</label>
		<textarea id="footer_bottom_textarea" name="footer_bottom" title="{{ 'Footer - bottom'|lang }}" class="form-control">{{ settings.footer_bottom|raw }}</textarea>
		<script>
			run_ckeditor('footer_bottom_textarea',100);
		</script>
	</div>
	<hr>
	<div class="form-group">
		<label for="code_style">{{ 'Additional CSS'|lang }}</label>
		<textarea name="code_style" title="{{ 'Additional CSS'|lang }}" class="form-control">{{ settings.code_style|raw }}</textarea>
	</div>
	<div class="form-group">
		<label for="code_head">{{ 'Additional code in the HEAD'|lang }}</label>
		<textarea name="code_head" title="{{ 'Additional code in the HEAD'|lang }}" class="form-control">{{ settings.code_head|raw }}</textarea>
	</div>
	<div class="form-group">
		<label for="code_body">{{ 'Additional code in the BODY'|lang }}</label>
		<textarea name="code_body" title="{{ 'Additional code in the BODY'|lang }}" class="form-control">{{ settings.code_body|raw }}</textarea>
	</div>
	<div class="form-group">
		<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-primary">
	</div>
</form>
{% endblock %}
