
{% extends "main.tpl" %} <!--To jest plik do obslugi reklam-->

 <!--{% block content %} tutaj dodałem opcje opłat
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="{{ 'Add display time'|lang }}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ 'Add display time'|lang }}</h4>
			</div>
			<form method="post" class="form">
				<input type="hidden" name="action" value="add_day">
				<input type="hidden" name="token" value="{{ generateToken('admin_add_day') }}">
				<div class="modal-body">
					<div class="form-group form-inline">
						<label for="length">{{ 'Length'|lang }}</label>
						<input type="number" name="length" required min="1" title="{{ 'Number of days'|lang }}" class="form-control">
						<label>{{ 'days'|lang }}</label>
					</div>
					<div class="form-group form-inline">
						<label for="cost">{{ 'Charge'|lang }}</label>
						<div class="input-group">
							<input type="number" name="cost" min="0" step="0.01" class="form-control">
							<div class="input-group-addon">{{ settings.currency }}</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
					<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-header">
	<h1><span class="glyphicon glyphicon-asterisk"></span> {{ 'Settings: length of offers'|lang }}</h1>
	<p>{{ 'Here you can edit the settings of the service'|lang }}</p>
</div>

{% include 'alert.tpl' %}

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#add">{{ 'Add display time'|lang }}</button>
<br><br>
{% if offers_days %}
	<table class="table-striped table-bordered table-condensed">
		<tr>
			<th class="text-center">{{ 'Type of promotion'|lang }}</th>
			<th class="text-center">{{ 'Charge'|lang }}</th>
			<th class="text-center">{{ 'Edit'|lang }}</th>
			<th class="text-center">{{ 'Remove'|lang }}</th>
		</tr>
			
		{% for item in offers_days %}
			<tr>
                <td class="text-center">{{ item.length }}</td> <!--tutaj trzeba dodać lokalnie, regionalnie, ogólnopolskie
                

				<td class="text-center">{{ item.cost|showCurrency }}</td>
				<td class="text-center"><a href="#" title="{{ 'Edit'|lang }}" class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#edit_{{ item.id }}"></a></td>
				<td class="text-center"><a href="#" title="{{ 'Remove display time'|lang }}" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#remove_{{ item.id }}"></a></td>
			</tr>

			<div class="modal fade" id="edit_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Edit display time'|lang }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">{{ 'Edit display time'|lang }}</h4>
						</div>
						<form method="post" class="form">
							<input type="hidden" name="action" value="edit_day">
							<input type="hidden" name="id" value="{{ item.id }}">
							<input type="hidden" name="token" value="{{ generateToken('admin_edit_day') }}">
							<div class="modal-body">
								<div class="form-group form-inline">
									<label for="length">{{ 'Length'|lang }}</label>
									<input type="number" name="length" required min="1" title="{{ 'Number of days'|lang }}" class="form-control" value="{{ item.length }}">
									<label>{{ 'days'|lang }}</label>
								</div>
								<div class="form-group form-inline">
									<label for="cost">{{ 'Charge'|lang }}</label>
									<div class="input-group">
										<input type="number" name="cost" min="0" step="0.01" class="form-control" value="{{ item.cost }}">
										<div class="input-group-addon">{{ settings.currency }}</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
								<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal fade" id="remove_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Remove display time'|lang }}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">{{ 'Remove display time'|lang }}</h4>
						</div>
						<form method="post">
							<input type="hidden" name="action" value="remove_day">
							<input type="hidden" name="id" value="{{ item.id }}">
							<input type="hidden" name="token" value="{{ generateToken('admin_remove_day') }}">
							<div class="modal-body">
								<p>{{ 'Are you sure you want to remove display time'|lang }}: "{{ item.length }}"?</p>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
								<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
							</div>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}		
	</table>
{% endif %}
<br><br>
<form method="post" class="form" role="form">
	<input type="hidden" name="action" value="save_settings_days">
	<input type="hidden" name="token" value="{{ generateToken('admin_save_settings_days') }}">
	<div class="form-group">
		<label><input type="checkbox" name="allow_refresh_offer" title="{{ 'Allow refresh offers'|lang }}" {% if settings.allow_refresh_offer %}checked{% endif %}> {{ 'Allow refresh ads'|lang }}</label><br> <!--zrobione
	</div>
	<div class="form-group form-inline">
		<label>{{ 'Refresh extends offer'|lang }}:</label>
		<input type="number" step="1" min="1" name="days_refresh" title="{{ 'Number of days'|lang }}" value="{{ settings.days_refresh }}" class="form-control" required>
		<label>{{ 'days'|lang }}</label>
	</div>
	<div class="form-group form-inline">
		<label>{{ 'Refresh is available'|lang }}:</label>
		<input type="number" step="1" min="0" name="days_before_refresh" title="{{ 'Number of days'|lang }}" value="{{ settings.days_before_refresh }}" class="form-control" required>
		<label>{{ 'days before the end of offer'|lang }}</label>
	</div>
	<div class="form-group form-inline">
		<p>({{ 'The following setting is only active if not determined the times ads'|lang }})</p>
		<label>{{ 'Default time'|lang }}:</label>
		<input type="number" step="1" min="1" name="days_default" title="{{ 'Number of days'|lang }}" value="{{ settings.days_default }}" class="form-control" required>
		<label>{{ 'days'|lang }}</label>
	</div>
	<div class="form-group form-inline">
		<label>{{ 'Automatically remove inactive offer after'|lang }}:</label>
		<input type="number" step="1" min="1" name="days_to_remove" title="{{ 'Number of days'|lang }}" value="{{ settings.days_to_remove }}" class="form-control" required>
		<label>{{ 'days'|lang }}</label>
	</div>
	<div class="form-group">
		<input type="submit" value="{{ 'Save'|lang }}" class="btn btn-primary">
	</div>
</form>
{% endblock %} tutaj dodałem opcje opłat-->
<!--koniec-->



{% block content %}
<div class="page-header">
	<h1><span class="glyphicon glyphicon-list-alt"></span> {{ 'ads users'|lang }}</h1> <!--zrobione-->
	<p>{{ 'Here you can see the offer ads from website. To edit it, you must be an moderator'|lang }}</p> <!--zrobione-->
</div>

{% include 'alert.tpl' %}

<form method="get" class="form-horizontal" role="form">
	<input type="hidden" name="controller" value="offers">
	<input type="hidden" name="search">
	<div class="form-group form-group-sm">
		<div class="col-md-2">
			<label for="id">{{ 'ID'|lang }}:</label>
			<input type="number" name="id" title="{{ 'Enter the ID of the offer'|lang }}" placeholder="{{ 'ID'|lang }}" value="{{ get.id }}" class="form-control">
		</div>
		<div class="col-md-3">
			<label for="name">{{ 'Offer name'|lang }}:</label>
			<input type="text" name="name" title="{{ 'Enter the name of the offer'|lang }}" placeholder="{{ 'Offer name'|lang }}" value="{{ get.name }}" class="form-control">
		</div>
		<div class="col-md-2">
			<label for="active">{{ 'Active'|lang }}:</label>
			<select name="active" title="{{ 'Search by active offers'|lang }}" class="form-control">
				<option value="">{{ 'All'|lang }}</option>
				<option value="yes" {% if get.active=='yes' %}selected{% endif %}>{{ 'Yes'|lang }}</option>
				<option value="no" {% if get.active=='no' %}selected{% endif %}>{{ 'No'|lang }}</option>
			</select>
		</div>
		<div class="col-md-2">
			<label for="promoted">{{ 'Promoted'|lang }}:</label>
			<select name="promoted" title="{{ 'Search by promoted offers'|lang }}" class="form-control">
				<option value="">{{ 'All'|lang }}</option>
				<option value="yes" {% if get.promoted=='yes' %}selected{% endif %}>{{ 'Yes'|lang }}</option>
				<option value="no" {% if get.promoted=='no' %}selected{% endif %}>{{ 'No'|lang }}</option>
				echo="test"
			</select>
		</div>
		{% if users %}
			<div class="col-md-3">
				<label for="user_id">{{ 'Select user'|lang }}:</label>
				<select name="user_id" title="{{ 'Select user'|lang }}" class="form-control">
					<option value="">{{ 'All users'|lang }}</option>
					{% for user in users %}
						<option value="{{ user.id }}" {% if get.user_id and get.user_id==user.id %}selected{% endif %}>{{ user.username }} - {% if _ADMIN_TEST_MODE_ %}TEST{% else %}{{ user.email }}{% endif %}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}
	</div>
	<div class="form-group form-group-sm">
		<div class="col-md-4">
			<label for="date">{{ 'Date added'|lang }}: </label>
			<div class="form-inline">
				<input name="date_from" title="{{ 'Select the starting date'|lang }}" type="text" max="{{ 'now'|date('Y-m-d') }}" value="{{ get.date_from }}" class="form-control datepicker">
				 -
				<input name="date_to" title="{{ 'Select the end date'|lang }}" type="text" max="{{ 'now'|date('Y-m-d') }}" value="{{ get.date_to }}" class="form-control datepicker">
			</div>
		</div>
		<div class="col-md-4">
			<label for="date">{{ 'Date finish'|lang }}: </label>
			<div class="form-inline">
				<input name="date_finish_from" title="{{ 'Select the starting date'|lang }}" type="text" value="{{ get.date_finish_from }}" class="form-control datepicker">
				 -
				<input name="date_finish_to" title="{{ 'Select the end date'|lang }}" type="text" value="{{ get.date_finish_to }}" class="form-control datepicker">
			</div>
		</div>
		<div class="col-md-2">
			<label for="ip">{{ 'IP address'|lang }}:</label>
			<input type="text" name="ip" title="{{ 'IP address'|lang }}" placeholder="{{ 'IP address'|lang }}" value="{{ get.ip }}" class="form-control">
		</div>
		<div class="col-md-2 text-right">
			<label>&nbsp;</label><br>
			<input type="submit" value="{{ 'Search'|lang }}" class="btn btn-primary text-uppercase">
		</div>
	</div>
</form>
<br>
{% if offers %}
	<div class="table-responsive">
		<table class="table parent_select_checkbox table-striped table-bordered table-condensed">
			<tr>
				<th class="text-center"><input type="checkbox" class="select_checkbox" title="{{ 'Select all'|lang }}"></th>
				<th class="text-center">{{ 'ID'|lang }}<br>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=id" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=id&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">{{ 'Active'|lang }}<br>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=active" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=active&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">{{ 'Promoted'|lang }}<br>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=promoted" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=promoted&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th>{{ 'The name'|lang }}<br>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=name" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=name&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th>{{ 'User'|lang }}</th>
				<th class="text-center">{{ 'View count'|lang }}<br>{{ 'all'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=view_all" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=view_all&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
					 / {{ 'unique'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=view_unique" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=view_unique&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">{{ 'Date added'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
					<br>{{ 'Date finish'|lang }}
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date_finish" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=date_finish&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th>{{ 'IP address'|lang }}<br>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=ip" title="{{ 'Sort'|lang }}" class="glyphicon glyphicon-sort-by-attributes"></a>
					<a href="?{{ pagination.page_url.sort_admin }}&sort=ip&sort_desc" title="{{ 'Sort descending'|lang }}" class="glyphicon glyphicon-sort-by-attributes-alt"></a>
				</th>
				<th class="text-center">{{ 'Edit'|lang }}</th>
				<th class="text-center">{{ 'Remove'|lang }}</th>
			</tr>

			{% for item in offers %}
				<tr>
					<td class="text-center"><input type="checkbox" name="offers[]" value="{{ item.id }}" form="form_selected_offers"></td>
					<td class="text-center">{{ item.id }}</td>
					<td class="text-center">{% if item.active %}<a href="#" title="{{ 'Deactivate offer'|lang }}" data-toggle="modal" data-target="#deactivate_{{ item.id }}">{{ 'YES'|lang }}</a>{% else %}<a href="#" title="{{ 'Activate offer'|lang }}" style="color:grey" data-toggle="modal" data-target="#activate_{{ item.id }}">{{ 'NO'|lang }}</a>{% endif %}</td>
					<td class="text-center">{% if item.promoted %}<a href="#" title="{{ 'No promote offer'|lang }}" data-toggle="modal" data-target="#disable_promote_{{ item.id }}">{{ 'YES'|lang }}</a><br>{{ item.promoted_date_end|date('Y-m-d') }}{% else %}<a href="#" title="{{ 'Promote offer'|lang }}" style="color:grey" data-toggle="modal" data-target="#enable_promote_{{ item.id }}">{{ 'NO'|lang }}</a>{% endif %}</td>
					<td><a href="{{ path('offer',item.id,item.slug) }}" title="{{ item.name }}" target="_blank">{{ item.name }}</a></td>
					<td>
						{% if item.username %}<a href="?controller=users&search&username={{ item.username }}" title="{{ item.username }}">{{ item.username }}</a><br>{% endif %}{% if _ADMIN_TEST_MODE_ %}TEST{% else %}<a href="mailto:{{ item.email }}" title="{{ item.email }}">{{ item.email }}</a>{% endif %}
					</td>
					<td class="text-center">{{ item.view_all }} / {{ item.view_unique}}</td>
					<td class="text-center">{{ item.date|date('Y-m-d') }}<br>{{ item.date_finish|date('Y-m-d') }}</td>
					<td class="text-center">{{ item.ip }}</td>
					<td class="text-center"><a href="{{ path('edit',item.id,item.slug) }}" title="{{ 'Edit offer'|lang }}" class="glyphicon glyphicon-edit" target="_blank"></a></td>
					<td class="text-center"><a href="#" title="{{ 'Delete offer'|lang }}" class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target="#remove_{{ item.id }}"></a></td>
				</tr>

				<div class="modal fade" id="remove_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Delete offer'|lang }}: {{ item.name }}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{{ 'Delete offer'|lang }}</h4>
							</div>
							<form method="post">
								<input type="hidden" name="action" value="remove_offer">
								<input type="hidden" name="id" value="{{ item.id }}">
								<input type="hidden" name="email" value="{{ item.email }}">
								<input type="hidden" name="ip" value="{{ item.ip }}">
								<input type="hidden" name="token" value="{{ generateToken('admin_remove_offer') }}">
								<div class="modal-body">
									<p>{{ 'Are you sure you want to delete offer'|lang }}: "{{ item.name }}"?</p>
									<label><input type="checkbox" name="add_email_black_list"> {{ 'Add email to black list'|lang }}</label><br>
									<label><input type="checkbox" name="add_ip_black_list"> {{ 'Add IP to black list'|lang }}</label>
								</div>
								<div class="modal-footer">
									<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
									<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
								</div>
							</form>
						</div>
					</div>
				</div>

				{% if item.active %}
					<div class="modal fade" id="deactivate_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Deactivate offer'|lang }}: {{ item.name }}">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">{{ 'Deactivate offer'|lang }}</h4>
								</div>
								<form method="post">
									<input type="hidden" name="action" value="deactivate_offer">
									<input type="hidden" name="id" value="{{ item.id }}">
									<input type="hidden" name="token" value="{{ generateToken('admin_deactivate_offer') }}">
									<div class="modal-body">
										<p>{{ 'Are you sure you want to deactivate offer'|lang }}: "{{ item.name }}"?</p>
									</div>
									<div class="modal-footer">
										<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
										<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
									</div>
								</form>
							</div>
						</div>
					</div>
				{% else %}
					<div class="modal fade" id="activate_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Activate offer'|lang }}: {{ item.name }}">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">{{ 'Activate offer'|lang }}</h4>
								</div>
								<form method="post">
									<input type="hidden" name="action" value="activate_offer">
									<input type="hidden" name="id" value="{{ item.id }}">
									<input type="hidden" name="token" value="{{ generateToken('admin_activate_offer') }}">
									<div class="modal-body">
										<p>{{ 'Are you sure you want to activate offer'|lang }}: "{{ item.name }}"?</p>
										<div class="form-group">
											<label>{{ 'Date finish'|lang }}:</label>
											<input type="text" name="date_finish" min="{{ 'now'|date('Y-m-d') }}" value="{{ item.date_finish|date('Y-m-d') }}" class="form-control datepicker" required></label>
										</div>
									</div>
									<div class="modal-footer">
										<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
										<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
									</div>
								</form>
							</div>
						</div>
					</div>
				{% endif %}

				{% if item.promoted %}
					<div class="modal fade" id="disable_promote_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'No promote offer'|lang }}: {{ item.name }}">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">{{ 'No promote offer'|lang }}</h4>
								</div>
								<form method="post">
									<input type="hidden" name="action" value="disable_promote_offer">
									<input type="hidden" name="id" value="{{ item.id }}">
									<input type="hidden" name="token" value="{{ generateToken('admin_disable_promote_offer') }}">
									<div class="modal-body">
										<p>{{ 'Are you sure you want disable promote offer'|lang }}: "{{ item.name }}"?</p>
									</div>
									<div class="modal-footer">
										<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
										<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
									</div>
								</form>
							</div>
						</div>
					</div>
				{% else %}
					<div class="modal fade" id="enable_promote_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ 'Promote offer'|lang }}: {{ item.name }}">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">{{ 'Promote offer'|lang }}</h4>
								</div>
								<form method="post">
									<input type="hidden" name="action" value="enable_promote_offer">
									<input type="hidden" name="id" value="{{ item.id }}">
									<input type="hidden" name="token" value="{{ generateToken('admin_enable_promote_offer') }}">
									<div class="modal-body">
										<p>{{ 'Are you sure you want enable promote offer'|lang }}: "{{ item.name }}"?</p>
										<label>{{ 'Choose final date'|lang }}: </label><input type="text" name="date" title="{{ 'Choose final date'|lang }}" value="{{ 'now'|date_modify('+30 day')|date('Y-m-d') }}" min="{{ 'now'|date('Y-m-d') }}" class="form-control datepicker">
									</div>
									<div class="modal-footer">
										<input type="button" class="btn btn-default" data-dismiss="modal" value="{{ 'Cancel'|lang }}">
										<input type="submit" class="btn btn-danger" value="{{ 'Execute'|lang }}">
									</div>
								</form>
							</div>
						</div>
					</div>
				{% endif %}

			{% endfor %}
		</table>
	</div>
	<br>
	<form method="post" id="form_selected_offers" class="form-inline">
		<input type="hidden" name="token" value="{{ generateToken('admin_action_offers') }}">
		<label for="action">{{ 'Selected'|lang }}: </label>
		<select name="action" required title="{{ 'Select the appropriate action'|lang }}" class="form-control">
			<option value="">-- {{ 'select'|lang }} --</option>
			<option value="remove_offers">{{ 'Remove offers'|lang }}</option>
			<option value="active_offers">{{ 'Active offers'|lang }}</option>
			<option value="deactive_offers">{{ 'Deactivate offers'|lang }}</option>
		</select>
		<input type="submit" value="{{ 'Execute'|lang }}!" class="btn btn-sm btn-danger">
	</form>

	{% include 'pagination.tpl' %}

{% else %}
	<h4 class="text-danger">{{ 'Nothing found'|lang }}</h4>
{% endif %}
{% endblock %}
