
{% extends "main.tpl" %}

{% block content %}
<link rel="stylesheet" href="js/jqplot/jquery.jqplot.css" />
<script src="js/jqplot/jquery.jqplot.min.js"></script>
<script src="js/jqplot/jqplot.highlighter.min.js"></script>
<script src="js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
<script src="js/jqplot.statistics.js"></script>

<div class="page-header">
	<h1><span class="glyphicon glyphicon-check"></span> {{ 'Site statistics'|lang }}</h1>
</div>

<table class="table">
	<tr>
		<td><b>{{ 'Users'|lang }}:</b></td>
		<td><b>{{ statistics.users }}</b></td>
		<td><b>{{ 'Offers'|lang }}:</b></td>
		<td><b>{{ statistics.offers }}</b></td>
	</tr>
	<tr>
		<td> - {{ 'by Facebook'|lang }}:</td>
		<td>{{ statistics.users_register_fb }}</td>
		<td> - {{ 'active'|lang }}:</td>
		<td>{{ statistics.offers_active }}</td>
	</tr>
	<tr>
		<td> - {{ 'by Google'|lang }}:</td>
		<td>{{ statistics.users_register_google }}</td>
		<td><b>{{ 'Views offers'|lang }}:</b></td>
		<td><b>{{ statistics.logs_offers }}</b></td>
	</tr>
	<tr>
		<td><b>{{ 'Sends mails'|lang }}:</b></td>
		<td><b>{{ statistics.logs_mails }}</b></td>
		<td>{{ 'Photos'|lang }}:</td>
		<td>{{ statistics.photos }}</td>
	</tr>
	<tr>
		<td>{{ 'Categories'|lang }}:</td>
		<td>{{ statistics.categories }}</td>
		<td>{{ 'Reset password'|lang }}:</td>
		<td>{{ statistics.reset_password }}</td>
	</tr>
	<tr>
		<td>{{ 'Mails in queue'|lang }}:</td>
		<td>{{ statistics.mails_queue }}</td>
		<td><b>{{ 'User logins'|lang }}:</b></td>
		<td><b>{{ statistics.logs_users }}</b></td>
	</tr>
</table>	
<br><br>
<div class="form-horizontal">
	<div class="form-group">
		<div class="col-md-3">
			<label>{{ 'Blue line'|lang }}: </label>
			<select id="statitics_select_1" title="{{ 'Choose what should present the blue line'|lang }}" class="form-control">
				<option value=""> -- </option>
				<option value="logins">{{ 'Logins'|lang }}</option>
				<option value="unique_logins" selected>{{ 'Unique logins'|lang }}</option>
				<option value="registration">{{ 'Registration users'|lang }}</option>
				<option value="activation_users">{{ 'Activation users'|lang }}</option>
				<option value="offers">{{ 'Added offers'|lang }}</option>
				<option value="views_offers">{{ 'Views offers'|lang }}</option>
			</select>
		</div>
		<div class="col-md-3">
			<label>{{ 'Orange line'|lang }}: </label>
			<select id="statitics_select_2" title="{{ 'Choose what should present the orange line'|lang }}" class="form-control">
				<option value=""> -- </option>
				<option value="logins">{{ 'Logins'|lang }}</option>
				<option value="unique_logins">{{ 'Unique logins'|lang }}</option>
				<option value="registration">{{ 'Registration users'|lang }}</option>
				<option value="activation_users">{{ 'Activation users'|lang }}</option>
				<option value="offers" selected>{{ 'Added offers'|lang }}</option>
				<option value="views_offers">{{ 'Views offers'|lang }}</option>
			</select>
		</div>
		<div class="col-md-2">
			<label>{{ 'Date start'|lang }}: </label>
			<input id="statistics_date_from" title="{{ 'Select the starting date for analysis'|lang }}" type="text" value="{{ 'now'|date_modify('-30 day')|date('Y-m-d') }}" max="{{ 'now'|date('Y-m-d') }}" class="form-control datepicker">
		</div>
		<div class="col-md-2">
			<label>{{ 'Date finish'|lang }}: </label>
			<input id="statistics_date_to" title="{{ 'Select the end date for analysis'|lang }}" type="text" value="{{ 'now'|date('Y-m-d') }}" max="{{ 'now'|date('Y-m-d') }}" class="form-control datepicker">
		</div>
		<div class="col-md-2">
			<label>&nbsp;</label><br>
			<input id="statistics_generate" type="submit" value="{{ 'Generate'|lang }}" class="btn btn-primary text-uppercase">
		</div>
	</div>
	<div id="jqplot"></div>
</div><br><!--dróga sekcja statystyk-->
<div class="form-horizontal">
	<div class="form-group">
		<div class="col-md-3">
			<label>{{ 'Blue line'|lang }}: </label>
			<select id="statitics_select_3" title="{{ 'Choose what should present the blue line'|lang }}" class="form-control">
				<option value=""> -- </option>
				<option value="views_offers">{{ 'Views offers'|lang }}</option>
				<option value="offers">{{ 'Added offers'|lang }}</option>
				<option value="logins">{{ 'Logins'|lang }}</option>
				<option value="unique_logins" selected>{{ 'Unique logins'|lang }}</option>
				<option value="registration">{{ 'Registration users'|lang }}</option>
				<option value="activation_users">{{ 'Activation users'|lang }}</option>
				
				
			</select>
		</div>
		<div class="col-md-3">
			<label>{{ 'Orange line'|lang }}: </label>
			<select id="statitics_select_4" title="{{ 'Choose what should present the orange line'|lang }}" class="form-control">
				<option value=""> -- </option>
				<option value="offers" selected>{{ 'Added offers'|lang }}</option>
				<option value="logins">{{ 'Logins'|lang }}</option>
				<option value="unique_logins">{{ 'Unique logins'|lang }}</option>
				<option value="registration">{{ 'Registration users'|lang }}</option>
				<option value="activation_users">{{ 'Activation users'|lang }}</option>
				
				<option value="views_offers">{{ 'Views offers'|lang }}</option>
			</select>
		</div>
		<div class="col-md-2">
			<label>{{ 'Date start'|lang }}: </label>
			<input id="statistics_date_from" title="{{ 'Select the starting date for analysis'|lang }}" type="text" value="{{ 'now'|date_modify('-30 day')|date('Y-m-d') }}" max="{{ 'now'|date('Y-m-d') }}" class="form-control datepicker">
		</div>
		<div class="col-md-2">
			<label>{{ 'Date finish'|lang }}: </label>
			<input id="statistics_date_to" title="{{ 'Select the end date for analysis'|lang }}" type="text" value="{{ 'now'|date('Y-m-d') }}" max="{{ 'now'|date('Y-m-d') }}" class="form-control datepicker">
		</div>
		<div class="col-md-2">
			<label>&nbsp;</label><br>
			<input id="statistics_generate" type="submit" value="{{ 'Generate'|lang }}" class="btn btn-primary text-uppercase">
		</div>
	</div>
	<div id="jqplot"></div>
</div>
<br><br>
{% endblock %}